[2020-01-16 14:40] alex1989hu opened #1 "velero-plugin-for-vsphere image is not published"
We would like to use the image but it can not be found on any publicly available image registry.

[2020-01-22 09:04] dsu-igeek commented on #1
The image is published as vsphereveleroplugin/velero-plugin-for-vsphere on Docker Hub.  The project is currently under development and is not ready for general use yet.  We'll have a release announcement when it's ready to go.

[2020-01-22 09:04] #1 closed

[2020-05-01 22:08] ChrisJLittle opened #62 "verero.io/vsphere image doesn't exist"
I'm seeing the following when walking through the steps to get the vsphere plugin working:

`Warning  Failed     25s (x3 over 61s)  kubelet, vsan-cluster-md-0-68498d7f4f-2l9d2  Failed to pull image "velero.io/vsphere": rpc error: code = NotFound desc = failed to pull and unpack image "velero.io/vsphere:latest": failed to resolve reference "velero.io/vsphere:latest": velero.io/vsphere:latest: not f

[2020-05-01 22:14] ChrisJLittle opened #63 "no mention of a need for a vsphere-config-secret"
In the installation instructions, there is no mention for the need to have a secret in kube-system named vsphere-config-secret. It may be assumed that this secret exists already as the vSphere CPI should be configured but it is not always named the same and may not always have the necessary paraeters in the desired format.

For example, in TKG, the secret is named csi-vsphere-config and it's conte

[2020-05-01 23:06] lintongj commented on #62
@ChrisJLittle, velero.io/vsphere is not a name of image. It is a key to vsphere volume snapshotter plugin from velero's perspective. The released image is, vsphereveleroplugin/velero-plugin-for-vsphere:1.0.0

[2020-05-01 23:15] lintongj commented on #63
@ChrisJLittle, the first released version depends on the CSI secret config in vanilla k8s setup, vsphere-config-secret, while retrieving the VC credential. However, it looks like the secret in TKG cluster differs that in vanilla k8s setup. We are going to document such known issue in the Readme.md page in a FAQ section soon.

[2020-05-01 23:24] ChrisJLittle commented on #62
Thanks. This was 100% user error. I though that velero.io/vsphere was a plugin and attempted to add it as such. The pod that was created and throwing the imgpullerror should  have never existed. I cleaned this up and the vsphere plugin is working as expected now.

[2020-05-01 23:24] #62 closed

[2020-05-02 02:28] lintongj commented on #63
FYI, it was documented at the PR https://github.com/vmware-tanzu/velero-plugin-for-vsphere/pull/64.

[2020-05-11 04:41] tmpkn opened #69 "unable to locate VolumeSnapshotter plugin named velero.io/vsphere"
Following the instructions to the letter. Backup attempt results in the error above.
In addition, **velero plugin get** only reports **velero.io/aws** as VolumeSnapshotter.
At the same time, repeating the plugin add command results in:
**Duplicate value: "velero-plugin-for-vsphere"**
Is it installed or not?

[2020-05-11 18:59] lintongj commented on #69
Hi @tmpkn, would you please provide more detail about your context? such as, velero deployment and related log snippets, etc.

[2020-05-12 10:42] bvivi57 opened #70 "velero does not access the vCenter"
Hi

My env:

**Kubernetes and Network Add-on**
k8s: v1.18.2
calico: v3.13.3

**cpi/csi vSphere**
cpi: v1.1.0
csi-provisioner: v1.4.0
csi-driver: v2.0.0-rc.1
csi-attacher: v2.0.0

**valero**
valero server: v1.3

When I run a backup, valero cannot access the vCenter API. It tries to resolve the name on Kubernetes' internal DNS. I think that in the state valero can't access a resource external to the

[2020-05-12 23:39] lintongj commented on #70
@bvivi57, are you using vanilla k8s on vSphere?

BTW, velero-plugin-for-vsphere only works with velero v1.3.2 and above.

As far as I can see, it is more like a k8s dns issue in your cluster rather than an issue in velero-plugin-for-vsphere. you can simply check if you were able to ping vCenter from the container inside your velero pod.

[2020-05-13 07:51] bvivi57 commented on #70
Thanks for your help. I use velero v1.3.2 and vanilla K8S on Ubuntu VM on vSphere.

I added a container in the velero pod with pings commands and other diagnostic tools. From the context of the pod, I only have access to other pods with internally functional DNS resolution only.

velero is not deployed with the options

[code]

This could explain my problem since velero has no way to communicate w

[2020-05-13 13:41] bvivi57 commented on #70
Hi,

I realized that I have the problem as soon as I installed the vsphere plugin.

`velero plugin add vsphereveleroplugin/velero-plugin-for-vsphere:1.0.0`

After this command I have two pods in error named "datamgr-for-vsphere-plugin".

When I look at the logs, I get the following error

`time="2020-05-13T13:35:07Z" level=error msg="Error at creating new IVD PETM from vcUrl: {https  svc_k8s_vcp%4

[2020-05-13 19:40] lintongj commented on #70
The error above is about there is no connection between datamgr-for-vsphere-plugin pod and vCenter server. datamgr-for-vsphere-plugin pod is used for the data movement task to/from object store, like S3 or Minio. To bring up the data manager server running in datamgr-for-vsphere-plugin pod, the connection to VC server is required.

[2020-05-24 13:02] bvivi57 commented on #70
I had a problem with the IP address range of my pods. I recreated my cluster with a correct range and my worry is gone.
Thanks for your help

[2020-05-24 13:02] #70 closed

[2020-05-24 13:08] bvivi57 opened #72 "copyInt failed: ServerFaultCode: InvalidArgument when restore"
Hi

I can save a full namespace.
[code]

But I can't restore the data.
Objects other than persistent volumes are well restored.

I encounter the following error

[code]

[code]

`time="2020-05-24T14:39:32Z" level=error msg="Failed at calling SnapshotManager CreateVolumeFromSnapshot with peId ivd:993185c2-80cd-4983-a50e-ca122d1bb61f:4679625c-2ad8-49eb-be1c-215b00d44f9f" cmd=/plugins/velero-plugin-f

[2020-05-26 05:00] florianbaer opened #73 "Install velero on K8s Cluster"
After installing velero on our cluster (with the vsphere cloud provider) with the following command:

[code]
The log of velero says the following:

[code]

What the 💥 ☠️ did i miss...?

[2020-05-26 05:41] lintongj commented on #73
@florianbaer, the command you used to install velero-plugin-for-vsphere is not right.

Basically, the installation of velero-plugin-for-vsphere is based on the prerequisite that velero v1.3.2 or above is installed. So, in any case, you are expected to install velero first. You can refer to https://github.com/vmware-tanzu/velero-plugin-for-aws/blob/master/README.md about how to install velero using

[2020-05-26 05:52] lintongj commented on #72
@bvivi57 there are two issues in your case.

1. The data movement task, we call it `upload`, of velero-plugin-for-vsphere that persisting the local snapshot to object store is async to the velero backup. So, the `Completed` status from the command `velero backup describe <backup name>` doesn't mean the upload task of velero-plugin-for-vsphere is completed. Please use `kubectl -n velero get uploads

[2020-05-26 06:03] florianbaer commented on #73
So there is anther question. Why install aws-s3 velero plugin? does that me velere us not usable with nimble storage?

[2020-05-26 19:33] lintongj commented on #73
velero depends on the plugin model to consume functionalities from different storage providers.   There are object store plugin and volume snapshotter plugin in velero. AWS velero plugin is just one of the options. Please feel free to check other options available, https://velero.io/plugins/. To make velero work properly, both types of plugins are required to be specified either by default or expl

[2020-05-26 19:42] bvivi57 commented on #72
Hi
Thanks for your help.
My problem was the same as the one referenced in the FAQ. I moved my VMs to the root and I was able to do a successful restore.

[2020-05-26 19:42] #72 closed

[2020-05-27 04:50] florianbaer commented on #73
Ah thanks for your information!

[2020-05-27 04:50] #73 closed

[2020-06-11 07:03] loktionovam opened #77 "Data upload progress hangs up in New phase"
I try using this plugin and data upload progress hangs up in New phase without any errors.

My current installation:

* Velero 1.4 installed via helm chart
[code]
* vSphere version 7.0.0
* vSphere CSI driver 1.0.2
* Kubenetes v1.17.5

How to reproduce:

* I try to backup these persitent volumes:

[code]

* Check that a velero-plugin-for-vsphere plugin enabled:

[code]

[code]

* Check that `snapsh

[2020-06-11 17:18] lintongj commented on #77
The `New` phase means that either the upload controllers for upload CRD are not brought up properly or the upload controllers do not work as expected. Based on the information provided above, I cannot confirm the root cause.

Once velero-plugin-for-vsphere is installed, a Daemonset of pods, "data-manager-XXX", will be brought up in the same namespace as velero pod.

Would you please verify it and

[2020-06-11 17:43] loktionovam commented on #77
Hi @lintongj  I can't find any pods `data-manager-XXX`. When I enable the plugin:

[code]

the main velero pod restarts, `vsphereveleroplugin/velero-plugin-for-vsphere:1.0.0` appear in its initContainers and that is all.

[code]

[code]

[2020-06-11 17:47] lintongj commented on #77
Why would you run
[code]
While velero pod in your case is running in the namespace, velero?

What is the namespace, backup-system, used for?

[2020-06-11 18:11] loktionovam commented on #77
Sorry, there was a configuration drift when I tried to install velero in its default namespace `velero` (with no luck). Now, I revert configuration as described in issue:

[code]

[code]

[2020-06-11 18:25] loktionovam commented on #77
I guess I find the root cause:

[code]

I deployed velero via official helm chart:

[code]

[2020-06-11 21:19] lintongj commented on #77
I wonder whether you explictly set the ServiceAccountName to `velero-server` while installing velero via helm chart. By default, it is `"velero"`, according to https://github.com/vmware-tanzu/velero/blob/a5346c1a87c91788aeb3e2e03be7f42ebc23d95c/pkg/install/deployment.go#L150.  Would you please share what did you do to install velero via helm chart? So that we can reproduce the issue and incorporat

[2020-06-12 08:09] loktionovam commented on #77
I didn't set the service account. This is my helm chart configuration:

[code]

Service account name templated via `velero.serverServiceAccount` helper function here:

https://github.com/vmware-tanzu/helm-charts/blob/709787fabb658891ec56ed29e50f9d1a49178b42/charts/velero/templates/serviceaccount-server.yaml#L5
[code]

`velero.serverServiceAccount` helper function code:

https://github.com/vmware-t

[2020-06-12 08:18] loktionovam commented on #77
My suggestion is to add the section "how it works" (or something like that https://blogs.vmware.com/opensource/2020/04/17/velero-plug-in-for-vsphere/)   to the README.

[2020-06-24 05:08] dsu-igeek commented on #69
No new info, closing.  Please reopen if this continues to happen.

[2020-06-24 05:08] #69 closed

[2020-06-24 05:12] dsu-igeek commented on #63
I'm closing this, we've added this into the FAQ

[2020-06-24 05:12] #63 closed

[2020-06-24 22:08] dzilbermanvmw opened #93 "Datamgr-for-vsphere-plugin PODS are crashing (see attached logs)"
I have installed Velero 1.4 AWS plugin 1.1.0 with 'restic' plugin and MinIO for local object store into VMware PKS (TGKI cluster).
Followed instructions in the very helpful blog: https://beyondelastic.com/2020/04/30/backup-and-migrate-tkgi-pks-to-tkg-with-velero/

I have configured vSphere snapshot plugin in the cluster that has CSI driver enabled:

**velero plugin add vsphereveleroplugin/velero-p

[2020-06-24 22:10] dzilbermanvmw commented on #93
[datamgr-for-vsphere-plugin-crashed-LOG.log](https://github.com/vmware-tanzu/velero-plugin-for-vsphere/files/4828089/datamgr-for-vsphere-plugin-crashed-LOG.log)

Pod log file attached

[2020-06-25 00:00] swgupta-vmw commented on #93
Can you please check if the upload process had completed before the apps were deleted?
kubectl -n velero get uploads -o yaml

The upload to minio is an asynchronous process and is not currently reflected in the backup status.

[2020-06-25 01:20] dsu-igeek commented on #93
There was an issue with PVs that are not attached to Pods hitting that nil pointer exception.  This was fixed in https://github.com/vmware-tanzu/velero-plugin-for-vsphere/pull/68 and was released as part of the 1.0.1 release.  Please try the 1.0.1 release and let us know if the issue continues.

[2020-06-25 02:40] dzilbermanvmw commented on #93
@swgupta-vmw here is the output of 'get uploads' command:

apiVersion: v1
items:
- apiVersion: veleroplugin.io/v1
  kind: Upload
  metadata:
    creationTimestamp: "2020-06-15T16:47:57Z"
    generation: 1
    name: upload-70748cd5-aa42-486a-a31f-48f0758a6601
    namespace: velero
    resourceVersion: "3157192"
    selfLink: /apis/veleroplugin.io/v1/namespaces/velero/uploads/upload-70748cd5-aa42-48

[2020-06-25 02:43] dzilbermanvmw commented on #93
@dsu-igeek Thanks for commenting, unless I misread your suggestion I am running Velero 1.4 already:

ubuntu@u-cli2:~/velero$ velero version
Client:
        Version: v1.4.0
        Git commit: 5963650c9d64643daaf510ef93ac4a36b6483392
Server:
        Version: v1.4.0
------------------------------------
Or did you mean some specific "dot build" for 1.4 - could you comment pls? Thanks

[2020-06-25 04:44] swgupta-vmw commented on #93
Thanks for the upload records.

The "phase" field is still "new". This indicates that the copy of the PV snapshot data to the remote S3 location (minio) has not yet completed, in-fact it is yet to start. We need to wait for the "phase" field to move to "Completed" before the resource being backed up can be deleted.

The backup status "Completed" indicates that the PV has been snapshotted, and NOT

[2020-06-25 15:23] loktionovam opened #100 "Can't restore backup due to download snapshot operation failed with "Failed to download snapshot object storage. copyInt failed: ServerFaultCode: InvalidArgument: is incorrectly formatted." error."
I can't restore backup due to download snapshot operation failed with  `Failed to download snapshot, ivd:298725a8-07af-4bba-a27c-6f67ef017409:cd1131c2-f438-4059-adbb-1a45a4ef2c00, from durable object storage. copyInt failed: ServerFaultCode: InvalidArgument:  is incorrectly formatted.` error.

## Velero and vsphere configuration

* Vsphere version is 7.0.0
* VMware ESXi, 6.7.0
* Virtual machines p

[2020-06-25 17:02] lintongj commented on #100
Hi @loktionovam, here are two issues I can see from your setup.
1. vSphere 6.7u3 or above is required by velero-plugin-for-vsphere. But, your ESXi is 6.7.0.
2. The VC credential provided in your setup has no permission to create CNS volume via vSphere API. That is the reason why the restores failed in your case.

[code]

Above is a snippet of log from datamgr-for-vsphere-plugin.log. Would you plea

[2020-06-26 07:19] loktionovam commented on #100
Hi @lintongj , thanks for your reply!

1. I use vSphere 7.0.0 but hypervisor hosts still ESXi 6.7.0. Are ESXi hosts upgrade required to run `velero-plugin-for-vsphere`?
2. `vsphere-config-secret ` exists

[code]

and this secret used by `vsphere-csi-controller` to dynamic provision CNS volumes, so it has required permission to create/delete volumes in the `/Nord 4/datastore/Kubernetes/vol-nord4kub

[2020-06-26 17:23] lintongj commented on #100
1. Yes. ESXi hosts with 6.7u3 (6.7.3) or above are required.
2. We don't have such documentation yet. But, if dynamic provision CNS volumes works fine on the `/Nord 4/datastore/Kubernetes/vol-nord4kub datastore`, then the privilege on the datastore should be adequate. Below is the log from `datamgr-for-vsphere-plugin.log`,
[code]
During the restore, it tried to create new CNS volumes on `datastore

[2020-07-02 06:20] dsu-igeek commented on #93
Should be fixed with 1.0.1, please re-open if the issue continues.

[2020-07-02 06:20] #93 closed

[2020-07-02 12:51] cabillman opened #108 "Uploads fail with errorcode 3014"
All upload jobs are failing with Error code 3014.

I'm not sure if this is a bug or a configuration issue but I follow the docs and examples pretty closely. I can't seem to find any reference to error code 3014 in the plugin code. I did see some veeam/vmware references to this and they referenced vsphere permissions. I made the CSI account an administrator to rule that out and still received this

[2020-07-02 16:30] lintongj commented on #108
@cabillman would you please share the version of velero-plugin-for-vsphere?

Also, please share the VDDK log available on data manager pod running on the node, `test-worker-3`, where the error was observed? The step is shown below.
1. Find the pod. `kubectl -n velero get pods -o wide | grep datamgr | grep test-worker-3 | awk '{print $1}'`
2. Dowload the VDDK log. `kubectl cp velero/<pod name found

[2020-07-02 19:22] dzilbermanvmw commented on #93
Thanks for the tips @dsu-igeek - using 1.0.1 snapshot plugin:

velero plugin add vsphereveleroplugin/velero-plugin-for-vsphere:1.0.1

appears to work fine1

[2020-07-02 20:22] cabillman commented on #108
@lintongj It looks like I did not properly apply the administrator role for testing. I have pulled back the admin role and gave only the additional permissions mentioned in the veeam article. That appears to have fixed the problem.

This was a brand new cluster and I used the following guide to setup the roles and privileges for the csi driver. https://vsphere-csi-driver.sigs.k8s.io/driver-deploym

[2020-07-02 21:23] lintongj commented on #108
We have not yet documented the required vSphere role and privilege for velero-plugin-for-vsphere. And we will the Readme accordingly.

[2020-07-16 09:27] ruxi008 opened #118 "backup to snapshot-location vsl-vsphere stuck InProgress"
hi,

Environment:

k8s: v1.16.7
PKS 1.7
vSphere 6.7U3
CSI 1.0.2
velero 1.4
Minio S3

i setup single nginx pod with single csi attached 50Mi Disk, backup to vsl-vsphere stuck "inProgress" since 3 hours,
...
`time="2020-07-16T09:17:23Z" level=info msg="Filtering out the retry upload request which comes in before next retry time" controller=upload generation=2 logSource="/go/src/github.com/vmware-tan

[2020-07-16 09:55] ruxi008 commented on #118
additional information about backup status in velero:

[code]

[2020-07-16 16:30] lintongj commented on #118
@ruxi008 would you please share `kubectl -n velero get uploads -o yaml`?

[2020-07-16 17:02] ruxi008 commented on #118
hi,

[code]

[2020-07-17 16:05] lintongj commented on #118
@ruxi008 So you can take a look at log of data-manager pod that running on the node,
[code]
And search for log message by the upload CR name, `upload-b49b513b-b2fb-4f2e-bf1c-567bf50f17a0`. Please feel free to share the log if you are not sure what happens over there.

[2020-07-20 12:17] ruxi008 commented on #118
ok, problem looks like this (currently open) Issue [https://github.com/vmware-tanzu/velero-plugin-for-vsphere/issues/108](url)

[2020-07-20 13:42] ruxi008 commented on #118
Problem solved:

log vixDiskLib-*.log:
[code]

we had to add additional FW Rules to connect from PKS NSX Floating NW to PKS ESX Hosts (Port 902)

Philipp

[2020-07-20 18:40] lintongj commented on #118
Feel free to reopen if you have any other unresolved questions.

[2020-07-20 18:40] #118 closed

[2020-07-20 18:42] lintongj commented on #100
Closing it as there are no more comments for a few weeks. Feel free to reopen it if you have any other follow-up questions. @loktionovam

[2020-07-20 18:42] #100 closed

[2020-07-20 18:51] lintongj commented on #77
@loktionovam Thanks for the exploration in the helm chart configuration. On one hand, we will add the suggestion for to our documentation (FAQ.md) for released versions. On the other hand, we will fix this issue in our next release.

[2020-07-21 11:31] bvivi57 opened #145 "error code: 14009 for PV restore"
Describe the problem/challenge you have

Hello, I can't restore my persistent volumes on my Kubernetes cluster on vSphere 6.7 U3 plateform

I see this error on datamgr-for-vsphere-plugin pod

time="2020-07-21T11:25:05Z" level=error msg="Failed to copy from remote repository." Remote PEID="ivd:9bd1229e-b184-439d-a37d-350bd73d6a1e:a2e0594f-01bb-4b5a-a965-286ff37b4aca" error="copyInt failed: Open vir

[2020-08-04 22:18] lintongj commented on #145
@bvivi57
Would you please share the download CR related with the error?
[code]
Also, would you please share the VDDK log available on data manager pod where the error was observed? The command is shown below.
- Dowload the VDDK log. `kubectl cp velero/<data manager pod where the failure observed>:/tmp/vmware-root/vixDiskLib-*.log <any path you like>`

Additionally, Based on the error code `14009`(

[2020-08-05 22:31] doddatpivotal opened #149 "Failure on uploads/downloads"
I'm working on doing backup/restores with velero as deployed by Tanzu Mission Control.  My upload as result of a backup is complaining with:

`Failed to upload snapshot, ivd:489750af-b01e-4b05-bb39-d5090cb1048f:53b4f953-6e3c-4bca-b8cd-2e71d6610ebf, to durable object storage. Failed to delete peinfo from bucket "vmware-tmc-dp-09965998": Unable to delete object "plugins/vsphere-astrolabe-repo/ivd/pe

[2020-08-05 23:43] lintongj commented on #149
@doddatpivotal Would you please share what did you do to install velero and velero-plugin-for-vsphere?

By design of velero-plugin-for-vsphere v1.0.0 and v1.0.1, volume snapshots will be uploaded to the same S3 bucket as where velero upload backup to. You can also double check whether the region param is set under `spec.config` of velero BackupStorageLocation CR which is used in your `velero backu

[2020-08-06 13:51] doddatpivotal commented on #149
I was able to work past this issue when I double checked the region was specified on the backupstoragelocation and restarted the velero pod and data mover pods.  Does this get set during initialization?

Then I faced the next issue where I was getting access denied. in the upload.  Appearently, the cloud credentials managed by TMC's implementation of the velero server have an ondemand password gen

[2020-08-06 17:26] lintongj commented on #149
Ideally, it is supposed to be set when install velero. If not, you will have to manually edit backupstoragelocation CR.

@doddatpivotal would you please open a new issue about it. It looks like something new we need to take care of. Thanks.

[2020-08-06 17:26] #149 closed

[2020-08-06 18:51] lintongj commented on #149
@doddatpivotal would you please also share the version of velero and velero-plugin-for-vsphere in your case?

[2020-08-07 10:43] sharmavijay86 opened #151 "Airgapped environment setup is not possible"
Hey folks i am using velero in an air gapped environment.
I have pull and push all required images in harbor registry and all are working as expected except this vspere plugin.

The problem is

``` velero plugin add harbor.mylab.local/library/velero-plugin-for-vsphere:1.0.1```
data-manager-for-plugin:1.0.1
Failed to pull image "harbor.mylab.local/data-manager-for-plugin:1.0.1": rpc error: code = U

[2020-08-07 19:24] lintongj commented on #151
@sharmavijay86

data-manager-for-plugin is an internal component of velero-plugin-for-vsphere. While doing `velero plugin add harbor.mylab.local/library/velero-plugin-for-vsphere:1.0.1`, it would internally pull `data-manager-for-plugin:1.0.1` from the same registry. Would you please double check whether you pushed data-manager-for-plugin image to harbor registry?

[2020-08-08 07:12] sharmavijay86 commented on #151
@lintongj  Hi yes i have pushed that in same harbor but the problem is it is not picking 'library' part .

[2020-08-10 17:07] lintongj commented on #151
@sharmavijay86 Thanks for helping us identify a bug in velero-plugin-for-vsphere v1.0.1. So for, it only handle well image with a single slash "/".

We are going to document this issue in https://github.com/vmware-tanzu/velero-plugin-for-vsphere/blob/master/FAQ.md and fix this issue in master branch. To workaround your scenario until the fix is made, would you please push images to top inventory o

[2020-08-10 17:21] sharmavijay86 commented on #151
Hey @lintongj  and team. As of now i am doing a workaround as to manually edit daemonset and modify image: section in container: part  or ,
using rolling update as
[code]

Which is working in both the above method.
Hope it will get fixed in next release. Thanks.

[2020-08-11 10:07] vmwiz opened #155 "Airgap: Cannot detect CSI driver version"
When deploying on an airgapped infrastructure typically container images are fetched from an internal registry.
When `velero-plugin-for-vsphere` starts it try to deduce CSI driver version from the container image tags but fail:

[code]

These image names are hardcoded in the plugin code https://github.com/vmware-tanzu/velero-plugin-for-vsphere/blob/d859573753c533507bb485c65370e9404cc7d725/pkg/cmd/

[2020-08-11 13:19] sharmavijay86 opened #156 "Failed to upload snapshot in minio s3"
Hi Team,
i am currently testing this feature for **block provisioner   csi.vsphere.vmware.com**  in my airgapped tkg environment on vsphere 6.7u3.

The problem here is , when i am taking backup as bellow
[code]
Backup completed partially success.

[code]

Now when i am runing to check snapshot upload  it gives upload failed.

[code]
Bello is error

[code]
If you can help in what causing this error

[2020-08-11 16:53] lintongj commented on #156
It indicates an issue of insufficient permission with your vSphere User. Please refer to https://github.com/vmware-tanzu/velero-plugin-for-vsphere/issues/108 for more detail.

[2020-08-11 17:16] lintongj commented on #155
@vmwiz
That is something we need to improve. Currently, to extract CSI driver version, it looks up hardcoded image names, `gcr.io/cloud-provider-vsphere/csi/release/driver` or `cloudnativestorage/vsphere-csi`, for driver and, `gcr.io/cloud-provider-vsphere/csi/release/syncer` or `cloudnativestorage/syncer`, for syncer.

We will document this issue in https://github.com/vmware-tanzu/velero-plugin-f

[2020-08-12 10:37] sharmavijay86 commented on #156
@lintongj  Hi mate. This is strange as we have admin privileges assigned for CSI user in TKG. Still we have same issue.

This is out put of backup describe
 **kubectl logs velero-6b97c84c8b-jv8x9 -n velero**
[code]

[code]

[code]

[2020-08-12 17:02] lintongj commented on #156
This is weird. But the error code actually indicates the permission insufficiency. Do you mean the VC credential in CSI secret is associated with a user with admin privilege?

Also, would you please share the VDDK log available on data manager pod running on the node, gks-rat-stg-3-md-0-7659ffb99f-74m9g, where the error was observed? The step is shown below.

1. Find the pod. `kubectl -n velero ge

[2020-08-13 08:49] vmwiz commented on #155
That doesn't work unfortunately, docker still tries to reach `gcr.io` completely bypassing the `registry-mirror` option we use to simulate a non-airgap environment.

[code]

[2020-08-13 19:37] lintongj commented on #155
@vmwiz, thanks for the feedback.

Would you please try `cloudnativestorage/vsphere-csi:<version of your choice>` for CSI driver and `cloudnativestorage/syncer:<version of your choice>` for CSI syncer? That is, renaming CSI driver image from `driver` to `vsphere-csi` and placing both CSI driver and syncer images under the path, `cloudnativestorage/`.  Let's see if the workaround works for you.

[2020-08-14 06:27] sharmavijay86 commented on #156
@lintongj
Here are details you wanted.
[code]

[2020-08-14 18:28] sophie128 commented on #156
@sharmavijay86
Do you have chance to continue executing the second step and see any VDDK log?

[2020-08-14 19:08] lintongj commented on #156
@sharmavijay86
Did you have any chance to continue executing the command in the second step and see any VDDK log?

[2020-08-16 17:51] longwa commented on #156
I am seeing the same issue as well. My backup actually says it completed, but when I view uploads, they are retrying with the error message:
[code]
Other parts of the backup are successfully uploaded to MinIO.

[2020-08-17 07:45] danielkucera opened #159 "Wrong X.509 Certificate format"
Hello, we are using self-signed certs. but datamgr doesn't seem to be handling them well:
[code]
Any idea how to fix this?

[2020-08-17 08:39] danielkucera commented on #156
I have similar problem in #159 . Can you show datamgr logs? Mine shows some cert error.

[2020-08-17 09:22] danielkucera commented on #159
I was able to track it down to here:
https://github.com/vmware-tanzu/astrolabe/blob/cbccec55866ecb5b69ba1a8d947b45d153b8e1f3/pkg/ivd/ivd_protected_entity.go#L116

but the gvddk library source is not accessible:
https://github.com/vmware-tanzu/astrolabe/issues/45

I can only guess there is some internal connection to vCenter with missing insecure flag because it seems to not be passed in.

[2020-08-17 16:31] longwa commented on #156
I don't have any errors in the datamgr logs, just retries:
[code]

[2020-08-17 16:36] longwa commented on #156
Actually, in the vix logs, I do have a different permission error now:
[code]
Following other issue suggestions, we added the Global -> Licenses, Global -> Enable/Disable Methods. Perhaps there are additional permissions needed?

[2020-08-17 17:01] longwa commented on #108
I'm seeing a different error message in the vixDiskLib-1.log:

[code]

I have added the Globals -> License, Globals -> Enable/Disable methods but the error persists (I've restarted datamgr after updating the permissions, not sure if something else would need to be restarted as well).

Any other permissions needed?

[2020-08-17 18:30] lintongj commented on #156
@longwa thanks for your information.

There should be log messages in datamgr log that indicates the failure. Please take a look at the datamgr pod that runs on the same node which is shown in the `status.processingNode` field in upload CR.

As far as we know, these are permissions required. I am looking for help from VDDK team internally. It would be helpful to share your setup,

- versions of ve

[2020-08-17 18:31] lintongj commented on #108
please refer to https://github.com/vmware-tanzu/velero-plugin-for-vsphere/issues/156#issuecomment-675041129.

[2020-08-17 18:47] danielkucera commented on #156
After inspecting `/tmp/vmware-root/vixDiskLib-1.log` it seems that I have a similar issue:
[code]

[2020-08-17 19:06] lintongj commented on #159
I believe you've already figured out where to have access to gvddk source code.

The `Wrong X.509 Certificate format` warning message indicates some SSL issue when velero-plugin-for-vsphere code internally calls VDDK APIs. But it might not be root cause of the upload error with error code 3014. Actually, we did observe the warning message in successful upload case as well.

[2020-08-17 20:15] longwa commented on #156
@lintongj I have also opened a support case with VMWare TKG team regarding this issue.

I'm running velero 1.4.2, plugin version 1.0.1, vsphere 6.7U3.
The k8s cluster is a TKG cluster, version 1.1.2 (k8s version 1.18.3).

[2020-08-17 20:15] longwa commented on #156
I found the relevant DataMgr logs:
[code]

[2020-08-17 20:57] lintongj commented on #156
Great.

Would you please upload more VDDK log about this failure (the whole VDDK log if possible), so that we can involve VDDK team to help investigate this issue? Thanks @longwa.

[2020-08-17 21:09] longwa commented on #156
[vixDiskLib-1.log](https://github.com/vmware-tanzu/velero-plugin-for-vsphere/files/5086817/vixDiskLib-1.log)

[2020-08-17 23:37] longwa commented on #156
After working with VMWare support, we were able to fix the problem and successfully upload a snapshot.

The main issue is that we were missing the roles in VEEAM KB article plus they MUST BE AT THE vCenter level. Assigning them at the DataCenter or Cluster level will not work.

[2020-08-17 23:53] lintongj commented on #156
There are 2 issues
- Additional perms needed for TKG Role. In our case, they are `Global -> Licenses, Global -> Enable/Disable Methods`.
- The TKG Role needs to be propagated at vCenter level.

TKG document, https://docs.vmware.com/en/VMware-Tanzu-Kubernetes-Grid/1.1/vmware-tanzu-kubernetes-grid-11/GUID-install-tkg-vsphere.html#vsphere-permissions, will be updated soon.

[2020-08-17 23:56] lintongj commented on #108
The solution is updated at https://github.com/vmware-tanzu/velero-plugin-for-vsphere/issues/156#issuecomment-675172003. Please kindly close the issue if it helps.

[2020-08-18 00:01] lintongj commented on #159
The solution is updated at https://github.com/vmware-tanzu/velero-plugin-for-vsphere/issues/156#issuecomment-675172003. Please kindly close the issue if it helps.

[2020-08-18 02:30] #151 closed

[2020-08-18 02:42] lintongj commented on #151
Hi Xinyan@xinyanw409, please link the issue with the PR that resolves it. Thanks.

[2020-08-18 02:55] xinyanw409 commented on #151
Fixed this issue in https://github.com/vmware-tanzu/velero-plugin-for-vsphere/pull/157.

[2020-08-18 04:57] longwa opened #161 "Failed to restore snapshot with error "Failed to find the list of all datastores in VC""
Versions:
vsphere: 6.7U3
velero vsphere plugin version: 1.0.1
TKG cluster: 1.1.2

I'm trying to restore a backup with a volume snapshot.

The restore fails with the following errors:

[code]

I am able to see the IVD files in the S3 storage and the upload and backup item both completed successfully.

[2020-08-18 06:40] danielkucera commented on #159
You are probably right, those warning seems to be unrelated to the following error.

[2020-08-18 06:40] #159 closed

[2020-08-18 06:52] danielkucera commented on #156
@lintongj thanks for clarifying required privileges.
The problem is that we are running on a shared infrastructure inside our company and ESX admins will NEVER give us such high and dangerous privileges. Is there any way around this?
E.g. only throw warning when "Disable Storage VMotion" fails and accept the risks?

[2020-08-18 09:15] danielkucera commented on #145
I am hitting the same error:
[code]
vddk log:
[code]
It seems to me that there is a requirement to allow a direct connection from data-manager to ESX host. This is not very common to be allowed in corporate environment.

Is there any other way how to transfer the data? Ideally via vCenter API ?

[2020-08-18 09:17] danielkucera commented on #156
I have worked around this issue but now I am hitting #145 🤦

[2020-08-18 09:58] danielkucera commented on #145
I see NBD is defined statically:
https://github.com/vmware-tanzu/astrolabe/blob/master/pkg/ivd/ivd_protected_entity.go#L147

Is there a chance to implement "HotAdd Transport" as described here (p27)?
https://vdc-download.vmware.com/vmwb-repository/dcr-public/8f96698a-0e7b-4d67-bb6c-d18a1d101540/ef536a47-27cd-481a-90ef-76b38e75353c/vsphere-vddk-671-programming-guide.pdf

[2020-08-18 14:18] stephbman commented on #151
For reference - deploying Velero in an air-gapped environment can be found here:  https://velero.io/docs/main/on-premises/

[2020-08-18 15:36] longwa commented on #161
I also see these errors in the VDDK logs:
[code]
DevTestVol9 is the datastore that the volume snapshot was originally taken from.

[2020-08-18 15:52] longwa commented on #161
Not sure if this is related to the ability to restore, but it seems like the delete of the PV failed as well. I believe this is the same bug as (https://github.com/kubernetes-sigs/vsphere-csi-driver/issues/217). To simulate a disaster, I deleted the namespace, but I noticed that the PV was Released and the logs indicated:
[code]
I wonder if the failure to properly delete the node in CNS has caused

[2020-08-18 16:23] lintongj commented on #161
@longwa

It seems to be a bug in our dependency of velero-plugin-for-vsphere, vmware-tanzu/astrolabe, at https://github.com/vmware-tanzu/astrolabe/blob/570f847030797a3c0d0a0e67bb3ccdb779880a62/pkg/ivd/ivd_protected_entity_type_manager_util.go#L142.

Basically, in your case, there is no datastore under the DataCenter inventory, `TIL-Main`. In the code above, we should have capture the NotFoundError

[2020-08-18 20:24] longwa commented on #161
@lintongj So our data stores are all under folders under TIL-Main if that's what you mean?

I'm not sure what you are suggesting. Do you mean to just add an empty datastore directly under TIL-Main?

![image](https://user-images.githubusercontent.com/361184/90561811-41d02180-e16f-11ea-8151-768f804c718c.png)

[2020-08-18 23:13] lintongj commented on #161
@longwa Initially we was thinking it was due to that the DC `TIL-Main` has no datastore inside. But, based on the information you provided above, it helps us identified a bug in our code base at https://github.com/vmware-tanzu/astrolabe/blob/570f847030797a3c0d0a0e67bb3ccdb779880a62/pkg/ivd/ivd_protected_entity_type_manager_util.go#L141. Actually, we should have used `...` rather than `*`. In curre

[2020-08-19 02:45] rohansadale opened #164 "Daemonset datamgr-for-vsphere-plugin fails when there is no default backup storage location"
Is there a hard requirement for `velero-plugin-for-vsphere` to have a default backup storage location configured?
Environment:
- OCP 4.5
- vCenter 6.7U3

[code]
All the pods in daemon set `datamgr-for-vsphere-plugin` fail with below error
[code]

When I install velero with a default storage location and then add `velero-plugin-for-vsphere` plugin, then it works fine.

[2020-08-19 04:57] lintongj commented on #164
@rohansadale
Not really.`datamgr-for-vsphere-plugin` is actually the data path component of `velero-plugin-for-vsphere`, which requires at least one BackupStorageLocation CR  is available at its boot time. You can still use the command above to install velero. But, please make sure at least one BackupStorageLocation CR is created before installing `velero-plugin-for-vsphere`.

[2020-08-19 05:52] rohansadale commented on #164
@lintongj thank you for the quick response. I created a temporary backup location and then added the plugin. Pods are healthy now :)

[2020-08-19 05:52] #164 closed

[2020-08-20 04:09] dsu-igeek commented on #145
Backup proxies talking to the hosts are a common configuration.  Hotadd does not work with containers at the moment.

[2020-08-20 14:41] danielkucera opened #167 "Persistentvolume not being restored"
this is what I do:
[code]
version:
[code]

I can see Upload object created and in Complete state.
[code]

This is the log from restore:
[code]

The problem is that there is no Download object created. And I don't know why restic is mentioned.

Am I doing something wrong?

[2020-08-20 15:18] Carnimarni commented on #161
Greetings,

we have a similar issue like @longwa. Backing up resources works as intended, but restoring them fails with the following error:

[code]

Versions:
   vsphere: 6.7U3
   velero vsphere plugin version: v1.0.1
   CSI/CNS: v2.1.0
   Kubernetes: v1.17.4

@lintongj
This workaround is not working for us, all of our datastores were already at the top level of our DC, but the datamgr-for-vspher

[2020-08-20 17:49] lintongj commented on #167
@danielkucera
Would you please share CRs like velero backup&restore in your case?
Honestly, I was wondering why velero-plugin-for-vsphere was not triggered in this case? One weird thing in the log messages above is,

[code]
These two message were logged 10 mins apart, which means the restore of PV in `restore=velero/backup-1597930951-20200820162241` got timed out. There might be some information i

[2020-08-20 17:53] lintongj commented on #161
@Carnimarni

That would be very weird. Would you please share a screenshot of your DC inventory like above? Do you have more than one DC in your VC?

[2020-08-20 19:55] lintongj commented on #167
Also, please share the info about `velero describe` for both backup and restore.

[2020-08-21 07:07] Carnimarni commented on #161
@lintongj

![DatastoreinDC](https://user-images.githubusercontent.com/66616344/90861552-3574e000-e38c-11ea-98f9-b9e9998c1eba.jpg)

I need to hide some datastore names.
We only have one DC per VC.

[2020-08-24 07:40] danielkucera commented on #167
## Backup ##

[code]

[code]

## Restore ##
[code]

[code]

[2020-08-24 20:28] danielkucera commented on #167
Can you give me some tips how to debug this? Where to look etc.?

[2020-08-24 20:38] lintongj commented on #167
@nrb
Hi Nolan, would you please take a look this issue from Velero side and see why volumesnapshotter plugin was not triggered in the restore path?

[2020-08-25 01:05] lintongj commented on #161
That is very weird. As the DC Inventory in your case is not empty, it doesn't make sense to return NotFound error. Actually, this layout of DC inventory works fine in our test and other users' setup (we don't see any similar issue reported).

At this point, we need some insight from govmomi side.

Hi Doug @dougm,

We ran into the following issue when calling finder.DatastoreList API from govmomi.

[2020-08-25 03:39] dougm commented on #161
Hi @lintongj ,

`"/%v/datastore/*"` will not recurse into sub-folders.  Switching to the following will recurse into sub-folders:
[code]
or:

[code]

See: https://godoc.org/github.com/vmware/govmomi/find

[2020-08-25 06:20] danielkucera commented on #167
I have found the problem after rising loglevel to debug:
[code]

After removing the PV Download CR was created

[2020-08-25 06:35] danielkucera commented on #145
Okay, but then a user needs to be able to deploy a dedicated "backup proxy" in corresponding network security zone which is not the case here as the data-manager is running as DaemonSet on all cluster nodes. This could work with native vsphere k8s running on ESXi nodes as they can access the NBD port on "localhost" but this is not a good solution for arbitrary k8s distribution running in VMs

[2020-08-25 06:42] danielkucera commented on #161
We are having the same issue:
[code]
Anyway, picking up "random" datastore for the restore is IMHO wrong! See also: https://github.com/vmware-tanzu/astrolabe/issues/43

[2020-08-25 06:43] danielkucera commented on #167
You should consider raising loglevel of that message.
Now I have another problem: https://github.com/vmware-tanzu/velero-plugin-for-vsphere/issues/161#issuecomment-679835518

[2020-08-25 06:54] danielkucera commented on #167
This final one should be more than debug:
https://github.com/vmware-tanzu/velero/blob/718a94ad0565731780c904d27d09f27936f6b7d9/pkg/restore/restore.go#L616

[2020-08-25 07:26] danielkucera commented on #161
This is our structure:
![datastore-structure-censor](https://user-images.githubusercontent.com/1734256/91144904-f1981880-e6b4-11ea-9864-182655d01c5c.jpg)

[2020-08-25 18:07] lintongj commented on #161
Thanks @dougm for the reply.

Please correct me if I am wrong. My understanding is, `"/%v/datastore/*"` will not recurse into sub-folders, but it will be able to retrieve datastores in the top inventory of datacenter when calling with the `finder.DatastoreList` API.

In this case,
![DatastoreinDC](https://user-images.githubusercontent.com/66616344/90861552-3574e000-e38c-11ea-98f9-b9e9998c1eba.jpg)

[2020-08-25 18:20] lintongj commented on #161
@danielkucera
Our current code base cannot recurse into sub-folders. That being said, datastores under sub-folder, such as, `VMFS Datastores`, in your case cannot be retrieved. We will fix it in master branch and include in the next release.

[2020-08-25 18:40] dougm commented on #161
Correct, `"/%v/datastore/*"` will return the top-level datastores.

I don't think there is a workaround is this case, other than moving datastore(s) to the top-level folder.

[2020-08-26 00:29] lintongj commented on #167
@danielkucera
Good catch. And looks like you got the original issue resolved.

Please double check the workaround mentioned in https://github.com/vmware-tanzu/velero-plugin-for-vsphere/issues/161#issuecomment-680192763 works for you. The fix will be available in next release.

[2020-08-26 06:53] Carnimarni commented on #161
@lintongj
I may found the issue why the vsphere-plugin is still not able to locate our datastores. We have no sub-folders between DC and datastores, but we have our hole DC under a sub-folder of the VC.

![velero_problem](https://user-images.githubusercontent.com/66616344/91270579-240b4980-e779-11ea-97c0-c2f97c7dd91b.png)

Could this result in the same problem?

[2020-08-26 15:33] lintongj commented on #161
@Carnimarni
Oh, yes, that is why. The v1.0.1 code base expects not to have DC under a sub-folder of the VC as well.

[2020-08-26 17:28] danielkucera commented on #161
changing the code to following has worked for me
[code]
but this probably won't work for @Carnimarni , in this case the datacenter path has to be discovered first.

[2020-08-26 17:32] lintongj commented on #161
For the case of @Carnimarni, please try in the following line.
[code]

[2020-09-03 18:31] nrb commented on #156
@lintongj Are you owning this?

[2020-09-03 19:01] lintongj commented on #156
@nrb Not yet. But, I will assign it to myself and update the documentation.

[2020-09-04 07:18] jc0705 opened #179 "Failed to pull image while using internal registry"
I'm trying to run the plugin for the backup of my pks with an internal registry but it seems that the pod fails to run due to unsuccessful image pull of "dpcpinternal/data-manager-for-plugin:master-e607c74-13.Apr.2020.00.06.16". Is there any way to get this image pull working with internal registry/air-gapped environment?

[code]

[code]

**steps to reproduce**

with a minio s3 up in my cluster, I

[2020-09-07 09:04] DooDleWilk commented on #179
The vsphere velero plugin is made of 2 containers :

- vsphereveleroplugin/velero-plugin-for-vsphere:1.0.1
- vsphereveleroplugin/data-manager-for-plugin:1.0.1

So, you would need both in your local registry...
Unfortunately, the problem is not solved, because there is a problem with the image link location in the daemonset.
So, you will need to update the daemonset image location like this :
`kube

[2020-09-09 08:40] jc0705 commented on #179
Exactly what i needed! Able to pull the image from my local registry now.. thanks!

[2020-09-09 08:40] #179 closed

[2020-09-09 10:17] jc0705 opened #180 "FailedMount (error processing PVC : PVC is not bound)"
Did a velero backup and snapshots on a sample app using the plugin and looks like there is no issue. But upon restoration of the app, it looks like the mounting of PV is unsuccessful as shown under `describe pod` with a endless "ContainerCreating" status. Does anyone know how to solve it by getting the restored containers to mount/attach the PVC without any errors?

**backup describe**
[code]

**r

[2020-09-09 16:43] #156 closed

[2020-09-09 21:16] lintongj commented on #180
@jc0705

Would you please share velero & velero-plugin-for-vsphere versions? Also, would you please share the following logs?

1. velero deployment log: `kubectl -n velero logs deploy/velero`
2. plugin download CRs: `kubectl -n velero get downloads -o yaml`
3. data manager pod logs: `kubectl -n velero logs pod/datamgr-XXX`
4. vSphere CSI driver log

Thanks.

[2020-09-10 05:46] #167 closed

[2020-09-10 06:59] danielkucera opened #182 "Disabled migration during backup"
When doing the backup, gvddk calls PrepareForAccess and fails if it is not sucessfull:
https://github.com/vmware-tanzu/astrolabe/blob/master/vendor/github.com/vmware/gvddk/gvddk-high/gvddk.go#L49

PrepareForAccess ( [see docs](https://vdc-repo.vmware.com/vmwb-repository/dcr-public/8f96698a-0e7b-4d67-bb6c-d18a1d101540/ef536a47-27cd-481a-90ef-76b38e75353c/doc/GUID-A0557282-DE08-4E88-B87E-19D28CBD339

[2020-09-10 07:40] danielkucera commented on #145
There is also topology aspect. In case some k8s nodes run in a different zone (https://vsphere-csi-driver.sigs.k8s.io/driver-deployment/deploying_csi_with_zones.html) they might have access to different datastores so their respective data manager containers need to be aware of this and the upload/download jobs assigned accordingly.

[2020-09-11 02:56] jc0705 commented on #180
- `velero version`
[code]

- data-manager-for-plugin & velero-plugin-for-vsphere version : 1.0.1

1. velero deployment log: `kubectl -n velero logs deploy/velero`
[velero logs.txt](https://github.com/vmware-tanzu/velero-plugin-for-vsphere/files/5205636/velero.logs.txt)

2. plugin download CRs: `kubectl -n velero get downloads -o yaml`

[code]

3. data manager pod logs: `kubectl -n velero logs pod/

[2020-09-11 18:34] lintongj commented on #180
Please try, `kubectl logs vsphere-csi-controller-0 --all-containers=True -n kube-system`. But, in your case, it doesn't seem to be a volume provisioning issue. The failure occurs far before provisioning volume.

As far as I can see from logs you provided,

There is only one restore, `wordpress-backup-20200911095348`, can be found. That being said, the restore request, `wordpress-backup-20200909160

[2020-09-13 23:39] lintongj commented on #108
Please find the documentation at https://github.com/vmware-tanzu/velero-plugin-for-vsphere#roles-and-privileges.

[2020-09-13 23:39] #108 closed

[2020-09-13 23:42] #161 closed

[2020-09-16 03:30] jc0705 commented on #180
The problem is indeed with the storage of the Minio object store... Looks like you have to allocate at least twice the space of the PVC for the Minio object store... Thanks for your help!

[2020-09-16 03:30] #180 closed

[2020-09-17 06:06] danielkucera opened #188 "Commercial support"
Hello,

I'd like to know if there is some way how to get commercial support for this plugin. We are really interested in it and would like to go to production with this backup solution.

Thank you.

[2020-09-17 17:16] ntalekt opened #189 "Datamgr daemonset on 1.0.2 upgrade"
We've noticed that the datamgr daemonset isn't updated when we upgrade the plugin to 1.0.2. Is this by design?

We've confirmed that a fresh install using velero-plugin-for-vsphere:1.0.2 does in fact spin up the correct datamgr daemonset (https://github.com/vmware-tanzu/velero-plugin-for-vsphere/pull/157).

Thanks.

[2020-09-17 17:49] dsu-igeek commented on #188
Thanks for the interest and thanks for your feedback on and use of the plug-in and Velero!

Support for Velero and the Velero Plug-in for vSphere is part of the VMWare Tanzu Toolkit for Kubernetes (https://docs.vmware.com/en/VMware-Tanzu-Toolkit-for-Kubernetes/index.html).  Please contact your VMWare sales rep for pricing, etc.

[2020-09-17 18:06] lintongj commented on #189
@ntalekt

If there is existing datamgr daemonset in your cluster, no update will be triggered for the moment. That is by design.

A fresh install is recommended.

[2020-09-17 18:15] ntalekt commented on #189
We'd definitely like this functionality as we are trying to automate install/upgrade via pipeline. A fresh install works however how can you maintain previous backups if you have to wipe the installation?

Another thought would be to bubble up the datamgr image to the installation manifest instead of whatever black magic is happening now. :)

[2020-09-17 18:48] lintongj commented on #189
As long as your fresh install of Velero point to the same object store, all the backups available in the object store bucket will be synced up behind the scene by Velero.

Alternatively, you can try to patch image in the datamgr daemonset with version 1.0.2. No CRD change since version 1.0.0, so there is no need to re-apply up-to-date CRD manifests. But, this way is pretty hacky.

[2020-09-17 19:13] ntalekt commented on #189
We'll test out this functionality as it sounds like wipe/re-install is the recommended method.

That's how we were doing it in 1.0.1, we'd bring up velero plugin and then patch datamgr image using the correct 1.0.1 location (https://github.com/vmware-tanzu/velero-plugin-for-vsphere/pull/157) and were hoping to get away from that in 1.0.2. But like above, we'll test out the wipe/install method.

Pa

[2020-09-17 19:19] lintongj commented on #189
Cool. Let us know if there's any issue.

That would also work for 1.0.2.

[2020-09-18 16:34] ntalekt commented on #189
One thing I forgot to mention is we are using `kapp` for the install/wipe which I'm pretty sure deletes the CRDs. Anyway, I'll report back what I find after testing today.

[2020-09-18 18:25] ntalekt commented on #189
Confirmed that `kapp` is removing all the CRDs and configmaps so we reimplemented the datamgr patch. It's messy but it works.

Thanks again for your help!

[2020-09-22 14:49] marratj opened #192 "Support for SAML token authentication"
Hello,

we currently use the vSphere CSI Driver with SAML Token authentication (using a dedicated vSphere solution user per K8s cluster) in our environment, which is working fine.

However, it seems that the configured solution user cert/key from the `csi-vsphere.conf` in the `vsphere-config-secret` is not supported by the Velero vSphere plugin, as the Velero plugin throws a `ServerFaultCode: Cann

[2020-09-22 18:10] lintongj commented on #192
The plugin doesn't support the SAML token authentication yet. It requires a change in plugin.

[2020-09-23 07:54] marratj commented on #192
Is this planned for the near future from your side?

If not, could you give me a hint where authentication is handled (I figured this is in the `astrolabe/ivd/newIVDProtectedEntityTypeManagerFromURL`) so I can take a look if I can add the code to get this to work similar to how it's handled in the CSI plugin?

[2020-09-23 23:28] lintongj commented on #192
We don't have such a plan in near term.

That would be great.

You actually looked at the right place. At https://github.com/vmware-tanzu/astrolabe/blob/e69f9550d091d5b4a1c40d682a53cabce692760b/pkg/ivd/ivd_protected_entity_type_manager.go#L78.

In SAML token authentication case, the `csi-vsphere.conf` in the `vsphere-config-secret` contains SAML token cert& private in the places of the regular use

[2020-10-01 15:49] ruxi008 opened #201 "An error occurred: No such key VirtualCenter %s in params map"
hi!

environment:
TKGI 1.7

looks like i messed something up during update to v1.5.0 (from v1.4.0). velero runs successful since version 1.2, now i receive following error - also when trying to go back to old versions

[code]

my vsphere-config-secret created from following vsphere.conf
[code]

could anyone help how to find my wrong configuration? may the problem isn't vsphere-config-secret

[2020-10-01 19:12] lintongj commented on #201
Hi @ruxi008,

What is the version of velero-plugin-for-vsphere in your case?

Looks like the `VirtualCenter` key was not parsed as expected from your secret(vsphere-config-secret ) data. Would you please share the decoded(base64) data from your secret with sensitive credential being masked?

[2020-10-01 19:53] ruxi008 commented on #201
hi @lintongj

i use velero-plugin-for-vsphere 1.0.1, same result for 1.0.2
[code]

[2020-10-01 21:58] lintongj commented on #201
Hi @ruxi008

please use `csi-vsphere.conf` instead of `csi-vsphere-pkstest.conf` as the secret data.

relevant issue was documented here at https://github.com/vmware-tanzu/velero-plugin-for-vsphere/blob/master/FAQ.md#v100.

[2020-10-02 06:08] ruxi008 commented on #201
hi @lintongj

oh, yes, that change was made during implementation of cns in other stages. i read through FAQ before, but didn't get the hint about this wrong change on our side..
nevertheless, i changed it back to csi-vsphere.conf, now everything works like before, also update to velero v1.5.1 works like a charm

thank you for help!
kind regards
Philipp

[2020-10-02 06:08] #201 closed

[2020-10-15 07:25] xinyanw409 commented on #155
Fix was merged in https://github.com/vmware-tanzu/velero-plugin-for-vsphere/pull/210.

[2020-10-15 07:25] #155 closed

[2020-10-25 20:36] tirelibirefe opened #218 "the server could not find the requested resource (get volumesnapshotcontents.snapshot.storage.k8s.io)"
I've Velero 1.5.2 installed on Kubespray Kubernetes 1.18 on Vsphere 6.7 u3.

This is my installation:

[code]
and enabled plugin support:

[code]

Regarding the documentation ; my system meets the requirements:

My vsphere csi drivers:

[code]

Kubernetes version:

[code]

I've also set vSphere Roles and Privileges as desribed in documentation.

The problem is that when I attempt to backup sample

[2020-10-26 02:35] lintongj commented on #218
@tirelibirefe

Please try `velero install` without `velero/velero-plugin-for-csi:v0.1.2` plugin if you would like to use vsphere plugin v1.0.2. The error message was actually thrown from velero-plugin-for-csi.

[2020-10-26 14:33] farodin91 opened #219 "Support insecureSkipTLSVerify for s3 upload"
It would be great to support insecureSkipTLSVerify as the aws plugin for uploading to s3 using vsphere-astrolabe-repo.

[2020-10-26 21:26] dervistalha commented on #218
@lintongj thank you very much for your advise.
Yesterday I tried several different configurations. Your advise worked but not for problem `the server could not find the requested resource (get volumesnapshotcontents.snapshot.storage.k8s.io)`

The cause of problem the server could not find the requested resource (get volumesnapshotcontents.snapshot.storage.k8s.io) is missing csi drivers. Neither Ku

[2020-10-26 21:30] tirelibirefe commented on #218
@lintongj thank you very much for your advise.
Yesterday I tried several different configurations. Your advise worked but not for problem `the server could not find the requested resource (get volumesnapshotcontents.snapshot.storage.k8s.io)`

The cause of problem the server could not find the requested resource (get volumesnapshotcontents.snapshot.storage.k8s.io) is missing csi drivers. Neither Ku

[2020-10-27 20:46] lintongj commented on #218
Glad to know that it helps.

That is a question to `velero-plugin-for-csi`. Please feel free to refer to https://velero.io/docs/v1.5/csi/ or ask question at https://github.com/vmware-tanzu/velero-plugin-for-csi/issues.

FYI, velero-plugin-for-vsphere doesn't have dependency on velero-plugin-for-csi.

`velero-plugin-for-csi` relies on the CSI volumesnapshotting APIs in upstream Kubernetes, which is

[2020-10-30 20:50] jsdevalx opened #222 "csi-vsphere-config, vsphere-config-secret in kube-system are missing"
Hi,

Both: csi-vsphere-config, vsphere-config-secret in kube-system are missing. What is the reason? Is it a problem with installation or is it expected behaviour and at least one shoule be created manually before/after installation?

Test case:
[code]

[code]

[code]

[code]

Issue related to:
https://github.com/vmware-tanzu/velero-plugin-for-vsphere/issues/63
https://github.com/vmware-tanzu/vele

[2020-10-30 21:43] dsu-igeek commented on #222
The vSphere plug-in requires the CSI driver to operate and this is not installed by default for TKGi.  If you haven't already installed the CSI driver, please refer here for instructions: https://github.com/ModernAppsNinja/TkgiPocTestPlan_TI5008/tree/master/Storage/deploy%20CSI%20Storage%20Plugin

Also, you will need vSphere 6.7U3 or above.

[2020-10-30 21:43] #222 closed

[2020-11-05 19:31] #219 closed

[2020-11-13 08:45] w13k commented on #145
Hi @danielkucera , since this issue is still open, have you found a way around this? We face the same issue (exactly same vddk.log) and would also like to avoid opening up access to the esxi for all k8s nodes. You are referring to a proxy in your comments. Can you give an example for that approach?

[2020-11-13 09:05] danielkucera commented on #145
Hi @w13k , AFAIK, there is no way around this, we ended up upening the requested ports.

[2020-11-19 16:55] eveane opened #239 "broken link for Create a VolumeSnapshotLocation in the Installing the plugin section"
https://github.com/vmware-tanzu/velero-plugin-for-vsphere#Install-the-plugin

Installing the plugin
Install Velero - please see the Velero documentation https://velero.io/docs/v1.3.1/basic-install
Install the AWS plugin
Install the plugin
Create a VolumeSnapshotLocation
Backup using the plugin

Create a VolumeSnapshotLocation point to :https://github.com/vmware-tanzu/velero-plugin-for-vsphere/blob

[2020-11-19 18:43] lintongj commented on #239
@eveane

Would you please share where did you find the broken link?

In my case, both of the following case work as expected,

1. in the home page of https://github.com/vmware-tanzu/velero-plugin-for-vsphere, the link points to https://github.com/vmware-tanzu/velero-plugin-for-vsphere/#create-a-volumesnapshotlocation
2. in the readme file, https://github.com/vmware-tanzu/velero-plugin-for-vsphere/

[2020-11-20 17:30] eveane commented on #239
I still have the issue, see the screen shot and the link i hovering :
![image](https://user-images.githubusercontent.com/48088600/99830701-fbb3a100-2b55-11eb-9c87-02a2e6ac0a96.png)

[2020-11-20 18:18] #239 closed

[2020-12-07 13:29] MGlants opened #246 "Can't create snapshot"
Using TKG cluster version v1.18.5+vmware.1-tkg.1.c40d30d on vSphere7.0U1

Velero from tanzu helm repo.

ServerFaultCode: InvalidArgument: 52d1c374-34ae-4167-8b67-2274975026e3-7b2d9f8f-3230-4d0c-a7e6-0ec998fa7382 is incorrectly formatted.
During backup of StateFull app.

[code]

Thank you

[2020-12-07 18:28] lintongj commented on #246
Backup & restore in guest cluster will not be supported until velero-plugin-for-vsphere v1.1.0 release, which is expected to be later December.

[2020-12-07 19:31] MGlants commented on #246
Thx awesome will wait for it

[2020-12-07 21:58] #246 closed

[2020-12-14 19:59] lintongj commented on #145
We need to update document about the requested ports.

[2020-12-14 22:10] lintongj commented on #182
@danielkucera does the patch work well in your backup tasks?

Basically, the operation of `disables the vSphere API method RelocateVM_Task` is a prerequisite of a VDDK connection specified in the VDDK document, not a constraint introduced by velero-plugin-for-vsphere. We would suggest you to follow that for now.

Enabling the backup while virtual disks are migrating is a feature request in VDDK. W

[2021-01-15 22:15] Elegant996 opened #290 "Unable to backup PVs with plugin"
Currently using Velero 1.5.2 with AWS plugin 1.1.0 and vSphere plugin 1.1.0. The backup starts off okay and can be seen in MinIO but when it reaches a PV the below error is encounter:

[code]

To be clear, the plugin is able to load the CSI vSphere secret to authenticate with an admin account to vCenter but nothing ever happens.

Command executed is: `velero backup create default-snap-backup2 --in

[2021-01-15 22:22] lintongj commented on #290
Would you please try `velero backup create default-snap-backup2 --include-namespaces=harbor-system --snapshot-volumes`?

Reference: https://github.com/vmware-tanzu/velero-plugin-for-vsphere/blob/main/docs/vanilla.md#backup-vsphere-cns-block-volumes

[2021-01-15 23:23] Elegant996 commented on #290
No dice, same error as before:

[code]

Please note that I am currently using Kubernetes 1.20.1. Not sure if that has any impact on the current version of Velero or the vSphere plugin.

Thanks!

[2021-01-15 23:27] deepakkinni commented on #290
Delete the vsl-vsphere, try the command without specifying the vsl-vsphere

[2021-01-15 23:41] Elegant996 commented on #290
Please note that I did, this was the command executed: `velero backup create default-snap-backup3 --include-namespaces=harbor-system --snapshot-volumes`

[2021-01-15 23:44] deepakkinni commented on #290
`kubectl delete volumesnapshotlocation.velero.io -n <velero-namespace> vsl-vsphere` Did you delete the vsl-vsphere?

[2021-01-15 23:55] Elegant996 commented on #290
Yes, I just uninstalled the plugin with it's CRD and deleted the entire `velero` namespace to be sure. At present, I am deploying this setup with the below Helm chart:

[code]

[2021-01-20 15:23] Elegant996 commented on #290
Same issue occurs when installing through `velero` itself:
[code]

Then adding in the plugin:
[code]

Seems like something isn't quite right...

[2021-01-20 18:43] lintongj commented on #290
@Elegant996

Alright, the root cause seems to be different.

Would you please share the SelfLink of the PVC object, harbor-system/data-harbor-postgresql-0? It should be available in the backup tarball in your object storage.

Basically, velero-plugin-for-vsphere deliberately blocks backup/restore some certain types of k8s resources, depending on the `selfLink` of API object. However, `selfLink` fi

[2021-01-20 18:58] #218 closed

[2021-01-21 04:59] Elegant996 commented on #290
We'd have to redeploy on a lower version which is a bit problematic as we can't easily downgrade my cluster (no backups). We were going to switch to a blue/green approach once we had backups working. We'll delay that approach until this is fixed. Unfortunately, the `selfLink` field appears to be absent from the PV:
[code]

[2021-01-24 19:28] Elegant996 commented on #290
Quick update, was able to workaround this issue. Kubernetes 1.20 deprecated `selfLink` but you can still enable it by disabling the feature gate `--feature-gates=RemoveSelfLink=false`.

Will leave this issue open as this feature gate will be removed in Kubernetes 1.21 and is only a workaround for 1.20.

[2021-01-24 19:34] Elegant996 opened #291 "MinIO - x509: certificate signed by unknown authority"
When using a local MinIO instance, the vSphere plugin for velero is unable to upload any of the snapshots taken. This is not an issue with the AWS plugin which uploads the rest of the data as it was provided the certificate authority. Does this plugin not support local certificate authorities or self-signed certificates when uploading to MinIO?

[code]

[2021-02-01 03:56] Elegant996 opened #292 "PVC Restore - Incorrect Permissions"
We successfully performed a backup and restore but noticed that none of our vSphere CSI PVs were accessible after they were mounted.

Upon mounting them in a test pod with `root` permissions, we could see the datastore marked as follows:
[code]
The datastore is not accessible by using `cd` providing a `Permission denied` error.

Normally, permisssions should be:
[code]
Both the backup and restore

[2021-02-01 20:08] lintongj commented on #292
Would you please share all of steps in your workflow? Also, would you please share `kubectl describe` of PV, PVC and Pod?

I just had a try of backup and restore a simple application with one PV. The access permission was expected after the restore. Honestly, velero-plugin-for-vsphere handles backup&restore at block level. So, it is less likely to change the file permission in file system.

[2021-02-02 00:47] Elegant996 commented on #292
1. Create backup on Cluster 1:
`velero backup create export --include-namespaces=default,harbor-system,metallb-system,cert-manager,traefik-system --snapshot-volumes --exclude-resources certificaterequests.cert-manager.io,certificates.cert-manager.io,challenges.acme.cert-manager.io,orders.acme.cert-manager.io,issuers.cert-manager.io,clusterissuers.cert-manager.io,network-attachment-definitions.k8s.

[2021-02-02 05:35] lintongj commented on #292
@Elegant996  Thanks for your information. Are you trying to do backup and restore in vSphere Supervisor cluster? If not, would you please share your vSphere CSI driver version as well as the versions of all images in vsphere-csi-controller.

[2021-02-02 12:16] Elegant996 commented on #292
Using a Vanilla cluster with vSphere CSI driver 2.1.0. vCenter version is 7.0u1. Images are as follows:
[code]

[2021-02-02 17:58] lintongj commented on #292
A few of more questions here.
1. Would you please share `kubectl describe` of PVC and POD?
2. Would you please share `kubectl get events` for the namespace where  `the respective pod to enter a crash loop`?
3. Would you please share versions of velero and velero-plugin-for-vsphere?

[2021-02-02 20:38] Elegant996 commented on #292
Using velero v1.5.2 with vSphere plugin v1.1.0.

PVC (`kubectl describe pvc data-harbor-postgresql-0 -n harbor-system`):
[code]

Pod (`kubectl describe pod harbor-postgresql-0 -n harbor-system`):
[code]

Events (`kubectl get events -n harbor-system`):
[code]

[2021-02-02 20:54] lintongj commented on #292
What is the root cause about the pod/harbor-postgresql-0 enter the crash loop? Is it due to the incorrect permission after restore? Did you have chance to look at the pod log, `kubectl -n harbor-system logs  pod/harbor-postgresql-0 -p`?

Also, I noticed that a few of resources was excluded in your velero backup command. Is it something that is deliberately excluded in your case?

[2021-02-03 02:27] lintongj commented on #292
A few more questions to add.
1. Would you please confirm the versions of the two k8s clusters, especially for the destination cluster?  I just noticed that you were running a cluster migration case using velero and vsphere plugin.
2. where did you check the file/directory permissions? is it, e.g, the `datastore` directory, on the file system on top of the PV? But you mentioned earlier that PVs are

[2021-02-03 14:48] Elegant996 commented on #292
Yes, a few resources are deliberately excluded and are not required. This issue can be seen across all namespaces that were migrated. When viewing the logs for any of the pods the application will mention that it could not write/access the directory where the datastore is mounted and then terminates (expected, given the issue).

1. Clusters are version 1.20.2.
2. We checked the permissions by moun

[2021-02-03 19:04] dacodas opened #296 "Thin-provisioned VMDKs inflated during upload process"
# Overview

It appears that thin-provisioned VMDKs on the datastore are being inflated during upload process to S3-compatible storage.

Is there any roadmap to being able to upload the thin VMDKs or otherwise save space?

You can see in the logs and the minio snapshot below that 3G has been uploaded whereas in the vSphere snapshot, the different disk components don't sum up to nearly that much.

!

[2021-02-03 19:07] dacodas commented on #296
[code]

[2021-02-03 19:23] lintongj commented on #296
Your observation is expected. Currently, only full backup is supported. Uploading thin VMDKs or incremental changes of VMDKs will fall into the category of the incremental backup support. We do plan to support the incremental backup. But currently, there is no any concrete plan yet.

[2021-02-03 20:05] vytasvy commented on #296
Is the  compression of VMDK  backup supported? Would be strange not to have it.

[2021-02-03 22:39] lintongj commented on #296
velero-plugin-for-vsphere is still growing and doesn't support it for now.

[2021-02-03 22:42] lintongj commented on #145
Updated documentation can be found at https://github.com/vmware-tanzu/velero-plugin-for-vsphere/blob/main/docs/vanilla.md#prerequisites. Close this issue.

[2021-02-03 22:42] #145 closed

[2021-02-03 22:45] lintongj commented on #188
Close this issue as no more follow-up question for a while.

[2021-02-03 22:45] #188 closed

[2021-02-03 22:46] lintongj commented on #182
Close this issue as no more follow-up question for a while.

[2021-02-03 22:46] #182 closed

[2021-02-04 00:34] lintongj commented on #292
Thanks for the clarification.

A few of more questions I'd like to confirm.
1. What does `datastore` means in your case? is it a vSphere datastore or just an app-level data store?
2. What is your goal in this cluster migration case? Do you want to migrate PV/PVC (data) only, or you still want to migrate some other k8s metadata apart from data? If it is the former one, you are welcome to follow the

[2021-02-09 21:58] #290 closed

[2021-02-11 00:13] dsu-igeek opened #300 "Documentation should show how to install the AWS plugin"
**Describe the problem/challenge you have**

The install documentation currently discusses installing different object store plugins and does not call out that the AWS plugin is the only one supported and is required for use.

**Describe the solution you'd like**

Update the docs to show the install process completely.

[2021-02-12 13:00] Elegant996 commented on #292
That moment when you finally recall that SELinux is enabled by default on new installs...

SELinux does not play nicely with CSI drivers. Case closed.

[2021-02-12 13:00] #292 closed

[2021-02-18 04:44] #300 closed

[2021-03-04 11:05] #291 closed

[2021-03-06 11:52] kurthv opened #305 "Problems restoring stateful sets using velero plugin on vSphere with Tanzu"
**Describe the bug**

I followed the instructions from Cormac Hogan (https://cormachogan.com/2021/03/03/vsphere-with-tanzu-stateful-application-backup-restore-using-velero-vsphere-operator/) to backup and restore a stateful application.
But the restore stucks and never gets finished.

From what I can see in vCenter, the PVC is showing up in the namespace folder, but is never created in container v

[2021-03-08 19:12] lintongj commented on #305
@kurthv Thanks for reporting this issue.

Would you please the following information?

- Download and Clonefromsnapshot CRs. Please follow [this page](https://github.com/vmware-tanzu/velero-plugin-for-vsphere/blob/main/docs/vanilla.md#restore) for detail if necessary.
- Velero Restore CR. e.g. `kubectl -n <velero namespace> get restore <restore CR name> -o yaml`
- Velero log about the restore. `ku

[2021-03-11 16:47] kurthv commented on #305
Please see the attached archive 'logs.zip'

[logs.zip](https://github.com/vmware-tanzu/velero-plugin-for-vsphere/files/6124595/logs.zip)

[2021-03-11 20:25] lintongj commented on #305
@kurthv
Thanks for sharing log bundle above.

Initially, I thought it might be velero server that didn't notify vsphere plugin in the restore operation. Based on the log you provided, it is not the case. Somehow, vsphere plugin was not able to move restore forward. To investigate more, we need more information.

  - Backup Driver log. `kubectl -n <velero namespace> logs deploy/backup-driver`
  - D

[2021-03-12 14:38] kurthv commented on #305
I will provide you with the requested information no later than the beginning of next week.

[2021-03-14 09:10] amos-baron opened #317 "cannot use custom certificate in air gapped environment"
[A clear and concise description of what the bug is]

after creating the backup with :
`velero snapshot-location create vsl-vsphere --provider velero.io/vsphere`
 the backup completes as expected and the i can see the backup and snapshot files int he bucket.

when trying to restore from backup the restore is stuck on "in progress" and the backup-driver logs:

[Steps to reproduce the behavior]
crea

[2021-03-14 09:42] amos-baron commented on #317
just found [this](https://github.com/vmware-tanzu/velero-plugin-for-vsphere/pull/315), does it mean that this is not supported ?

[2021-03-14 12:41] kurthv commented on #305
Please see the attached log bundle.

Two notes:
1) The docker container on the Velero Data Manager didn't have a directory /tmp/vmware-root (but instead /tmp/vmware-nobody)
2) I wasn't sure, what I should use for <plugin crd name> in the last two KUBECTL commands?
Therefore I used 'uploads' , 'downloads' and 'snapshots'.

[logs.zip](https://github.com/vmware-tanzu/velero-plugin-for-vsphere/files/6

[2021-03-15 15:00] amos-baron commented on #155
this is still an issue for me even after the merged fix. when trying to deploy in an air-gapped environment I get

failed to get tag from image cloud-provider-vsphere/csi/ci/driver
failed to get tag from image cloud-provider-vsphere/csi/release/syncer
failed to get tag from image cloud-provider-vsphere/csi/ci/syncer

[2021-03-15 19:26] lintongj commented on #155
Such log message indicates the CSI image name does not come with expected suffix. vSphere plugin internally depends on such suffixes to parse and extra CSI version from CSI image. Even if the CSI image parsing failed, vSphere plugin should still work anyway.

If you have any issue with install velero-plugin-for-vsphere, please feel free to share more context. We will see if there is any bug to fix

[2021-03-15 19:28] lintongj commented on #317
Not yet. The support will come with the next patch release. ETA: End of March.

[2021-03-15 19:28] #317 closed

[2021-03-15 20:15] lintongj commented on #305
Thanks for sharing the log. In the zip file, logs.zip, above, your most recent backup, `cassandra-backup`, with 3 PVCs/PVs works as expected. However, from the downloads.txt, it was predated compared to your backup and uploads. Looks like you didn't try to restore your backup after backup is completed, according to the data manager log, `velero-datamgr.txt`.

BTW, below is reason why the predated

[2021-03-16 11:35] amos-baron opened #320 "problems with velero-vsphere-plugin in air-gapped environment"
[A clear and concise description of what the bug is]
plugin does not upload snapshots to the s3 storage.
after creating a backup the upload resource phase is

with the messege

and the snapshot resource phase is uploadFailed.

[Steps to reproduce the behavior]
- install Velero in an air gapped environment on an Openshift using the velero install command with the aws plugin and providing it the cus

[2021-03-16 12:15] kurthv commented on #305
Unfortunately this didn't work either :(
Attached you find a new log bundle.

[logs_2021-03-16.zip](https://github.com/vmware-tanzu/velero-plugin-for-vsphere/files/6148812/logs_2021-03-16.zip)

[2021-03-16 23:04] lintongj commented on #320
Thanks for reporting this issue. A few comments here.

1. When using velero-plugin-for-vsphere 1.1.0, please do not create and use snapshot location, `velero.io/vsphere`. Reference: https://github.com/vmware-tanzu/velero-plugin-for-vsphere/blob/main/docs/vanilla.md#backup-vsphere-cns-block-volumes
2. The `No such file or directory` errors found in the vixDiskLib log can be just ignored. They are j

[2021-03-16 23:36] lintongj commented on #305
[code]

Found the log messages above in backup-driver log at `backup-driver.txt`. Please confirm that the `cassandra` namespace is not available in the cluster. If that is the case, I think I get the root cause. vSphere with tanzu cluster (aka, supervisor cluster) is special. Before running `velero restore`, the target namespace is expected to be created (via vSphere UI or vSphere DCLI, NOT from k

[2021-03-17 08:57] amos-baron commented on #320
[debug]
`kubectl -n <velero namespace> logs deploy/velero `
only shows

which is not a problem as shown [here](https://github.com/vmware-tanzu/velero/issues/2942)

`velero backup/restore get/describe <name>

       default Volume To Restic: true
    Hooks:
     Included Namespaces:
             test-backup
    snapshot volumes: true
    storage location: default
     ttl: 720h0m0s
     Volume Snap

[2021-03-17 11:46] kurthv commented on #305
Hi Lintong Jiang,

unfortunately this was not the root cause.
The namespace & storage policy does exist.
In fact I only deleted the cassandra stateful set and the pvc after backup and before restore.

But I found some some other hints:
`  status:
    message: 'Failed to download snapshot, ivd:5530f7cf-887f-4b07-b820-6ea6bb482b12:6eefb5b7-78e4-4c8b-9f60-dfd0da8ea0a1,
      from durable object stora

[2021-03-17 14:55] amos-baron opened #322 "documentation is lacking in regard to vsphere integration and the plugin architecture"
**Describe the problem/challenge you have**

[A description of the current limitation/problem/challenge that you are experiencing.]
I'm deploying the plugin on an openshift environment that with vsphere csi on a 6.7 vsphere cluster. Its been very hard to understand what are the responsibilities of each component in the plugin i.e the data-manager daemon set and the backup-driver.
in addition I can

[2021-03-17 20:01] lintongj commented on #322
@xing-yang is working on a PR that add architectural diagram at https://github.com/vmware-tanzu/velero-plugin-for-vsphere/pull/306. Please any comments are welcomed.

[code]
Currently, velero-plugin-for-vsphere shares the same credential of VCenter with vSphere CSI driver. Basically, it is whatever the VC user specified for the vSphere CSI driver is.

Also, `Prerequisites` are documented here, htt

[2021-03-17 23:59] lintongj commented on #320
1. `level=error msg="peType, , is not avialble log source= ."......"` could happen if the backup-driver lost VC connection when it is boot up. Internally, backup-driver will try to get a VCenter session once and will not refresh after that(Will fix that in future release though). This issue could be resolved by restarting backup-driver deployment. To confirm this issue, the first 50 line of backup

[2021-03-18 00:01] lintongj commented on #305
It should not be a network issue about port 902 is not opened. I still suspect the target namespace and the storage policy in the  namespace is not configured as expected.

Before trying another restore operation to the target namespace, would you please try to provision a new PVC in the target namespace and see it works?

[2021-03-18 07:01] kurthv commented on #305
Provisioning PVCs via KUBECTL is not an issue at all.
In fact, when I delete the downloads with `kubectl -n velero-ns delete downloads --all` the restore operation proceeds and new PVCs are created.

I found quite a number of similiar issues, when searching for "VMware NFC" and "asynchronous IO" whith "error 14009":

- https://kb.vmware.com/s/article/71046
- https://github.com/vmware-tanzu/velero-

[2021-03-18 13:11] amos-baron commented on #320
I have opened port 902 on all hosts and now when i use `tcpdump -i [datamgr pod virtual interface]` on a node i can see that the data manager and the Virtual center are communicating but still the upload fails. it seems as tho the backupdriver should create a bucket in the s3:

but later when it tries to upload the snapshot it shows:

when I look in the s3 i cannot see plugins/vsphere-astrolabe-re

[2021-03-18 13:24] amos-baron commented on #320
the first ~50 look to be ordinary to me and its difficulted to copy them all by hand so ill abbreviate some :

backup-driver server is started
snapshotmanager vsphere vs credential is retrivied
initializing IVD protected entity manager
loading new ivd protected entity manger
detected virtualcenterconfig change during periodic reload
attempting login for user myuser@vsphere.local
new session id for

[2021-03-18 20:25] lintongj commented on #305
So, do you mean the restore finally works? That's cool. Please try backup and restore for another stateful application in supervisor cluster and make sure it works as expected.

As long as you followed our doc to [setup Backup Network](https://github.com/vmware-tanzu/velero-plugin-for-vsphere/blob/main/docs/supervisor-datamgr.md#setting-up-backup-network) and open expected port, 902, on ESXs. The

[2021-03-18 20:32] lintongj commented on #320
These log indicates that backup-driver is booted up as expected.

[2021-03-18 20:44] lintongj commented on #320
You mentioned `the upload fails`, but you could still see the following log messages.

[code]
and
[code]

The two log messages should only be seen when restore operation is called. Can you confirm if there is also a restore operation running together with the backup operation? That is not an expected use case. Additionally, the error log about `GetObject failed` could happen if the restore operati

[2021-03-18 21:23] kurthv commented on #305
No, restore doesn‘t work!

When I execute `Kubectl delete downloads —all`the download is stopped and NEW persistent volumes are created.
Data is lost, because the original PVs are not restored.

Please have a look at the log bundle from 03/17/2021.

[2021-03-18 22:04] lintongj commented on #305
I see. That's pretty weird issue we've never seen before. Basically, you can upload snapshot data to object store which means  your network connection works as expected. However, the download of snapshot from object store just fails.

Would you please also help collect vpxa logs from ESX host, `esx0d.nested.lab`? That might be helpful for VDDK folks to debug this issue. I will update once get any

[2021-03-19 19:26] kurthv commented on #305
Attached you find the logs from today (including vpxa.log).

[logs_2021-03-19.zip](https://github.com/vmware-tanzu/velero-plugin-for-vsphere/files/6173601/logs_2021-03-19.zip)

[2021-03-19 20:08] lintongj commented on #305
Would you please collect **hostd** log as well? Thanks

[2021-03-20 09:44] kurthv commented on #305
Here are the logs from yesterday - including hostd.log:

[logs_2021-03-20.zip](https://github.com/vmware-tanzu/velero-plugin-for-vsphere/files/6175225/logs_2021-03-20.zip)

[2021-03-22 19:15] lintongj commented on #305
Hi @kurthv, I got feedback from VDDK folks. Simply speaking, there might be some network configuration issue in your environment.

Based on the observation so far,
- Upload works OK, which means outgoing traffic via port 902 on ESX works as expected.
- Download fails consistently, which means incoming traffic via port 902 on ESX doesn't work well.

Would you please double check if there is specifi

[2021-03-22 22:15] kurthv commented on #305
I did exactly follow the instructions by Cormac Hogan to setup the backup network.
And when I look at hostd.log it seems to me as an issue with writing to the PV vmdk.

[2021-03-23 00:06] lintongj commented on #305
[code]
Yes, there is an issue with writing to the PV vmdk, but it is very likely due to network issue. `writing to the PV vmdk` has been extensively tested and we've never seen a similar one before.

[2021-03-23 09:53] kurthv commented on #305
I will now stop further investigations :(
It seems, that this is not yet "production ready" and needs some more development and intense testing.

[2021-03-23 17:56] kurthv commented on #305
BTW
Is there a tool available to test these kind of write I/O over the network?

[2021-03-23 18:24] lintongj commented on #305
velero-plugin-for-vsphere has been intensively tested and is production ready, but we cannot guarantee the coverage of all users' setup.

The issue you reported is valuable for us to learn and improve. So far, it doesn't seem to be a bug in the plugin, but more likely one in network configuration. I have filed a bug internally to track this issue and engaged with vSphere team to investigate this i

[2021-03-24 08:53] kurthv commented on #305
YES

YES

![image](https://user-images.githubusercontent.com/72090771/112281585-80d6d000-8c86-11eb-9a03-e81c1c5d80cb.png)

![image](https://user-images.githubusercontent.com/72090771/112281754-b24f9b80-8c86-11eb-9379-0d46b2be357f.png)

[2021-03-24 14:03] kurthv commented on #305
I have one final idea:
![image](https://user-images.githubusercontent.com/72090771/112323276-ed1af900-8cb1-11eb-9f07-64b2215b29a2.png)

Is it possible that the docker container is running in the wrong security context (nobody)?

[2021-03-24 18:07] lintongj commented on #305
That's expected. Otherwise, upload during the backup should have not worked.

[2021-03-25 06:23] lintongj commented on #305
Hi @kurthv, would you please help reproduce this issue and collect following information, so that vSphere NFC team can help debug this issue better?

Before you reproduce it, please set ESXi **hostd** log level to **trivia**. Please refer to https://kb.vmware.com/s/article/1004795 for detail. Also, run packet capture tool, like tcpdump, on data manager VM to capture NFC traffic by restricting port

[2021-03-25 07:40] amos-baron commented on #320
I have tried to restore before but i have deleted all of the resources that might cause these logs to appear ( restores, uploads,downloads, snapshots ) my solution was to just reinstall the plugin and it fixed it.

[2021-03-25 07:58] amos-baron commented on #320
I have reinstalled the plugin and opened the esxi on port 902 both from the VC segment and the segment where velero runs.
still i see error code 14009, is there any other port i might need to open? keep in mind i work in an air gapped environment with a firewall  so any communication is not trivial.
here are the logs from the data manager on the node where the pv is mounted: random

current node m

[2021-03-25 18:43] lintongj commented on #320
still i see error code 14009, is there any other port i might need to open?

I would suggest to open port 902 on all ESXi hosts and allow both incoming and outgoing traffic from the all the k8s worker nodes.

I assume you are running in a Vanilla k8s on vSphere, which means you don't use any of vSpher with tanzu, or Tanzu Kubernetes Grid service. In this case, the data manager pod which is running

[2021-03-25 19:28] amos-baron commented on #320
first, thank you for the quick reply.
I am running on an openshift cluster but i have used the vanilla k8s installation guide as reference, what network policy should I be adding. i have added an egress network policy to allow egress communication on port 902 and have opened firewall rules between the vc and esxi on 902 and the ocp node and the esxi on 902.
as ive said using tcpdump on the virtual

[2021-03-25 21:37] lintongj commented on #320
The connection between pod and VC is not sufficient here. Please make sure the connection between ESXi hosts and data manager pods is working, since the data path of backup & restore workflow bypasses VC.

[2021-03-30 09:48] MarcoDima opened #326 "Deployment of the Velero Data Manager VM with a static IP"
**Describe the bug**
It is currently not possible to deploy the velero DM VM with a static IP, even if the IP Allocation in the ova template points to '
Static - Manual'.

[A clear and concise description of what the bug is]
While deploying the VM within the ova template, after selecting the network in which to deploy the vm, I can see that '
IP allocation: Static - Manual' is being showed, but I

[2021-03-31 09:13] amos-baron commented on #320
I have opened ports 902 between the pods and the esxi machines
what ports do i need to open from pod segment to the VC segment

[2021-03-31 15:42] kurthv commented on #305
Here the results of the TCPDUMP:
[logs_2021-03-31.zip](https://github.com/vmware-tanzu/velero-plugin-for-vsphere/files/6237744/logs_2021-03-31.zip)

The Support Bundle has a size of 393MB.
Therefore I am not able to upload the tarball.

[2021-03-31 17:56] lintongj commented on #326
Please follow https://vmware.github.io/photon/assets/files/html/3.0/photon_admin/turning-off-dhcp.html to turn off DHCP.

[2021-03-31 17:58] lintongj commented on #320
Port 443 on VC, which is used to call VC APIs from pod.

[2021-04-01 08:44] kurthv commented on #305
172.16.13.22 is the IP of the VMKernel where NFC is enabled. It‘s in the same subnet as the Velero Data Manager VM (172.16.13.50).

The TCPDUMP was created on the Velero Datamanger VM with the following command:

`tcpdump -i eth0 -w dump.bin ‘Port 902‘`

[2021-04-01 15:23] MarcoDima commented on #326
Just turning off DHCP didn't help, so I first had to configure the static IP (https://vmware.github.io/photon/assets/files/html/3.0/photon_admin/setting-a-static-ip-address.html) and then turn off the dhcp.

It would be nice if we could set the IP address directly within the wizard configuration.

[2021-04-01 15:23] #326 closed

[2021-04-04 12:58] amos-baron commented on #320
ive opened port 443 for TCP and UDP with a network policy and on the firewall. when i do telnet to my VC on 443 I see its connected. I have also added the vc ssl cert to the images on /etc/ssl/certs. still I get error 14009.

[2021-04-08 11:38] amos-baron commented on #320
this worked

[2021-04-08 11:38] #320 closed

[2021-04-08 14:49] kacole2 opened #336 "Misleading Docs since Velero Supervisor Services Not Visible"
**Describe the bug**

I'm trying to do some testing on backup and restore of a Supervisor Cluster.

Looking at the documentation for [Installing Velero on Supervisor cluster](https://github.com/vmware-tanzu/velero-plugin-for-vsphere/blob/main/docs/velero-vsphere-operator-user-manual.md#installing-velero-on-supervisor-cluster), it shows there should a service to enable. I just installed a fresh vSp

[2021-04-08 15:48] lintongj commented on #336
We put [the requirement of NSX-T](https://github.com/vmware-tanzu/velero-plugin-for-vsphere/blob/main/README.md#important-note-on-vsphere-with-tanzu-networking-requirements) on the landing page. Please double check.

[2021-04-08 16:04] xing-yang commented on #336
Maybe we should add a link to pre-requisite before step 1 in this section to make it more clear:
https://github.com/vmware-tanzu/velero-plugin-for-vsphere/blob/main/docs/velero-vsphere-operator-user-manual.md#installing-velero-on-supervisor-cluster

[2021-04-08 18:14] kacole2 commented on #336
Thanks for the pointer @lintongj. I completely overlooked it and went straight to the installation. Does this solution rely on vSphere Pods to work? Have there been discussions on how this will work for the majority of installations that are going to be based on vSphere Distributed Networking? Thanks!

[2021-04-08 19:37] lintongj commented on #336
Yes. Currently, velero-plugin-for-vsphere require Pod VM to work on vSphere with Tanzu.

Yes. The support to enable vSphere Pod on native vSphere distributed switch networking is underway. It is a vSphere feature. I am not sure the timeline though.

You can definitely deploy vanilla kubernetes cluster on your current vSphere environment, outside the Supervisor Cluster. But it cannot be used to bac

[2021-04-08 19:40] lintongj commented on #322
Close it as PR #306 is merged.

[2021-04-08 19:40] #322 closed

[2021-04-08 19:42] lintongj commented on #336
I think we can add the NSX-T requirement into [the pre-requisite section](https://github.com/vmware-tanzu/velero-plugin-for-vsphere/blob/main/docs/supervisor.md#prerequisites).

[2021-04-09 13:57] kacole2 commented on #336
I also feel there might be a gap in the messaging. We mention Velero support for backing up the Supervisor Cluster in Tanzu Basic. We should note that this is only supported when NSX-T is also a part of the solution.

[2021-04-09 14:10] xing-yang commented on #336
By default, Tanzu Basic does not support Pod VM so Velero Plugin for vSphere will not work, but it is possible for customer to buy NSX and Tanzu Basic to get PodVM which allows them to use vSphere Plugin to take VolumeSnapshots.

If there's an official document that says "Velero support for backing up the Supervisor Cluster in Tanzu Basic", we should re-visit and fix it.

[2021-04-09 14:24] kacole2 commented on #336
This goes beyond Tanzu Basic because every Tanzu Edition does not come with NSX-T (including Advanced). It's an additional add-on. We also mention support for Velero to backup the Tanzu Kubernetes Clusters/Workload/Guest Clusters with Tanzu Standard and Advanced. What is the proper method for backing up these clusters that are not using NSX-T? Should the vSphere driver be used at all or should it

[2021-04-09 15:19] xing-yang commented on #336
On Tanzu Edition that does not come with NSX-T, Velero+Restic should be used.  @dsu-igeek has put together an internal confluence page that summarizes what is supported on different flavors.  We should have an official doc with this information so that we can reference it from the README doc in this github repo.

[2021-04-14 16:01] kurthv commented on #305
No more updates on this issue?

[2021-04-14 16:41] lintongj commented on #305
NFC team doesn't have much clue based on the log provided earlier, and is asking for more logs.

We don't want to go back and forth and ask for logs from you again and again. So, we'd like to develop a tool(hopefully early next week) to test VMDK I/O over the network before asking for more logs from you.

[2021-04-15 11:07] kurthv commented on #305
For me it's pretty clear, that Velero Data Manager ignores the vmkernel interface that is tagged for NFC.
Instead it tries to use the MGMT vmkernel interface, but then traffic needs to pass a firewall which most likely causes issues.

[2021-04-15 20:43] amos-baron commented on #156
is there any work around for this issue? we are also on a shared infrastructure inside our company and ESX admins wont give us the necessary permissions on VC level

[2021-04-15 20:45] amos-baron opened #337 "plugin requires permissions on Vcenter level"
**Describe the problem/challenge you have**
cannot use plugin if permissions are not granted on VCenter level.
since were on shared infrastructure inside our company ESX admins are not able to grant us these permissions

**Describe the solution you'd like**
a workaround for this issue

[2021-04-15 23:02] lintongj commented on #305
Right, that could be the culprit. I will further confirm with the team about why traffic is rerouted to MGMT network while the service, `vSphere Backup NFC`, is enabled on the backup network.

BTW, do you have some specific filewall rule on your MGMT network? Such as, only allow outgoing traffic while disallowing incoming traffic. Otherwise, I would be surprised about why upload works fine while d

[2021-04-15 23:46] lintongj commented on #337
It is a requirement of VDDK documented at https://code.vmware.com/docs/11750/virtual-disk-development-kit-programming-guide/GUID-8301C6CF-37C2-42CC-B4C5-BB1DD28F79C9.html. We don't have a way to work around it right now.

[2021-04-18 11:22] kurthv commented on #305
There is an ANY-ANY-ALLOW rule between MGMT and Backup/NFC network on my pfSense firewall.
But I guess, that the asynchronous I/O is causing issues when routed through a firewall.

[2021-04-19 17:15] lintongj commented on #305
I got it confirmed with VDDK team. In the current version of VDDK(7.0) used in velero-plugin-for-vsphere, there is a bug that the NFC traffic will be unexpectedly rerouted to MGMT network even though Backup network with `vSphere Backup NFC` service is configured. It is fixed in 7.0U1 in VDDK. It is also a bug in velero-plugin-for-vsphere as well and we need to pick up 7.0U1(or above) VDDK librarie

[2021-04-20 04:48] rahulr3 opened #345 "Backup remains stuck in phase "Deleting", no additional delete requests honoured"
**Velero Version:**
Velero 1.5.4
Velero Plugin for AWS 1.1.0
Velero VSphere Plugin 1.1.0

Configured S3 storage using minio on a separate node.

Create a namespace with 150 PVs and 150 Pods with total 2400+ resources.
Create multiple backups (more than 30)

**Observations**
1. Deleted one of the backups, the backup remained in phase "Deleting" forever. This happened without Velero getting restarte

[2021-04-21 03:44] aayush13890 opened #340 "Restore of a namespace with existing PVCs is going in infinite loop"
velero-plugin-for-vsphere version 1.1.0
Velero version 1.5.4

**Steps performed:**
1. Created a new Namespace with PVC. (Used the sample provided in Velero package - nginx with PV).
2. Performed backup of this Namespace.
3. Did not make any changes to the Namespace and triggered a restore operation using the above backup with all the resources included.
4. Restore operation gets stuck in InProgres

[2021-04-21 17:17] xing-yang commented on #340
@aayush13890 As a work around, can you delete the namespace before doing the restore?  We'll fix this to skip the restore of PVCs if they already exist.

[2021-04-21 18:14] xing-yang commented on #340
@aayush13890 You are testing on Vanilla cluster, right?  What is the Kubernetes version?

[2021-04-21 21:27] aayush13890 commented on #340
We are using VMware Tanzu v1.19.3

[2021-04-21 21:29] aayush13890 commented on #340
We have also tested against openshift version 4.5 Tanzu Kubernetes Grid Cluster and vanilla cluster.

[2021-04-23 15:22] nfeldhausen opened #344 "Velero Netapp S3 Connectivity"
**Describe the bug**

Today we tried to deploy Velero in a vSphere 7 with Tanzu Supervisor Cluster and with Netapp Ontap 9.7P8 without Storage Grid as S3 Storage Provider. The deployment was flawless and both the backup-driver and velero pod became running.
Sadly the Backup Location stays unavailable and when creating backups the backup fails with the following error log:

`<?xml version="1.0" enc

[2021-04-23 18:13] dsu-igeek commented on #344
Velero uses the AWS S3 SDK.  Have you verified that your credentials work to the NetApp S3 with the AWS command line?  The "us-east-1" region should be ignored since you've overriden the s3URL, but setting it to something like "netapp" that is not an AWS region is probably a good idea.  Can you check for activity on the S3 server to see if there are better error message there?

Complete logs from

[2021-04-27 05:46] nfeldhausen commented on #344
We tried our Netapp S3 with the aws cli which worked fine. But while testing we saw, that with Netapp 9.7 the S3 is a product preview and might not have all functionality and is not intended to use in a production environment. So we stopped trying to deploy Velero with the Netapp S3.

Currently we aim to upgrade our Netapp to Netapp with StorageGrid which should have the necessary functionality.
A

[2021-04-27 16:56] lintongj commented on #344
That is correct. Both velero and velero-plugin-for-vsphere use AWS S3 SDK. If the object store in your environment works well with AWS S3 CLI, it should work well with velero.

Please feel free to share with us your experience of using velero with Netapp S3 after the upgrade. It would be helpful to improve the list of supported object storage providers in velero documentation.

[2021-04-27 21:29] lintongj commented on #305
@kurthv Would you please help double check your setup based on the ask above? So that we can confirm there is no any other issue apart from the known VDDK bug. Thanks.

[2021-04-28 15:48] rahulr3 commented on #345
[Uploading delete_issue_0428.zip…]()

Please find the attached logs as requested. All logs provided except esx + vc logs as the can't be accomodated within 10 MB limit imposed by GitHub.

[2021-04-28 19:33] deepakkinni commented on #345
@rahulr3
The logs attached not accessible, it's redirecting back to this issue. Please upload them again.

Anyways, based on the conversation in the email, I think I could point out a reason as to why the Backup delete may hang:

1. During the backup, a malformed Snapshot CRD is stored as the PVC annotation.
2. During the Backup delete we pick up this Snapshot CR from the PVC. This is used to extr

[2021-04-29 14:25] Aqualie commented on #336
Are there any plans in the future to provide support for NSX-ALB? I was planning on levering Velero for migrating my workload that is presently running with NSX-T to NSX-ALB. However due to NSX-ALB not being supported I wouldn't be able to perform a restore as there is not support for NSX-ALB..

[2021-04-29 14:28] rahulr3 commented on #345
[delete_issue_0428.zip](https://github.com/vmware-tanzu/velero-plugin-for-vsphere/files/6399140/delete_issue_0428.zip)

[2021-04-29 18:42] deepakkinni commented on #345
Thanks @rahulr3

m2bkp1

velero logs:

time="2021-04-30T00:42:32Z" level=info msg="Listing items" backup=velero/m2bkp1 group=v1 logSource="pkg/backup/item_collector.go:291" namespace=j2pv resource=pods
time="2021-04-30T00:42:32Z" level=info msg="Retrieved 2 items" backup=velero/m2bkp1 group=v1 logSource="pkg/backup/item_collector.go:297" namespace=j2pv resource=pods
time="2021-04-30T00:42:32Z" lev

[2021-04-30 13:08] nfeldhausen commented on #344
Today we had another try with an evaluation license of Netapp with Storage Grid.
This time the deployment went flawless. The BackupLocation shows as AVAILABLE and the backup functionality works. So everything as expected :)
As deployment script we used the same script as posted in my initial comment.

Thank you both for your help. I really appreciate it!

[2021-05-01 14:32] longwa opened #347 "Plugin tries to snapshot volumes that are not VMFS and are opted into restic backups"
We have a mix of VMFS and NFS PVC's. When doing a backup via:

`velero backup create test-backup-4 --include-namespaces=foo`

Why does the vSphere plugin try to take a snapshot of PVC's that are not VMFS volumes? These pods are also annotated with the `backup.velero.io/backup-volumes: data` to indicate they are backed up with restic.

I can indicate `--snapshot-volumes=false` and the backup will s

[2021-05-03 18:13] lintongj commented on #347
Would you please follow this troubleshooting page, https://github.com/vmware-tanzu/velero-plugin-for-vsphere/blob/main/docs/troubleshooting.md, to collect information and logs? Thanks.

[2021-05-06 08:42] #344 closed

[2021-05-10 16:18] kurthv commented on #305
Like I already wrote, there is no firewall rule blocking the traffic (ANY-to-ANY-ALLOW-for-all-ports).

[2021-05-10 16:51] lintongj commented on #305
Does velero restore work well with the workaround?

[2021-05-14 19:31] lintongj commented on #347
This a bug in velero-plugin-for-vsphere that need to be fixed. Working on it.

[2021-05-25 21:39] ashish-amarnath commented on #345
All of Velero controllers reconcile only one object at a time.
So, when the backup delete request object is not being processed, is there a backup that is already being deleted?
Also, this may be unlikely, but if Velero is started in `--restore-only` mode, backup deletion requests are not processed. Is this flag passed to Velero server?

[2021-05-26 02:15] deepakkinni commented on #345
I believe there is another backup delete in progress. From my understanding, one of the backup delete calls the plugin, but the plugin does not return(due to a bug described in my previous comment), do you think the plugin not returning could cause velero to hang on a single request? Is there a timeout for the plugin to process the delete?

[2021-05-26 17:58] ashish-amarnath commented on #345
In the interest of better UX, Velero plugins should implement timeouts and cancellable operations in the plugin interface. In order to make backwards compatible changes to the plugin interface the issue of plugin versioning needs to be addressed. For velero V1.7 we are working on making a proposal for plugin versioning.

[2021-05-27 17:00] ashish-amarnath commented on #345
The plugin not returning can definitely cause this. There is no timeout or cancellation in too the requests. That’s definitely something worth adding.

________________________________
From: Deepak Kinni ***@***.***>
Sent: Tuesday, May 25, 2021 7:15:56 PM
To: vmware-tanzu/velero-plugin-for-vsphere ***@***.***>
Cc: Ashish Amarnath ***@***.***>; Comment ***@***.***>
Subject: Re: [vmware-tanzu/velero

[2021-06-01 20:39] deepakkinni commented on #345
This issue should be mitigated by https://github.com/vmware-tanzu/velero-plugin-for-vsphere/pull/351

[2021-06-08 05:43] #347 closed

[2021-06-08 17:25] #340 closed

[2021-06-08 17:26] xing-yang commented on #345
This is fixed by #351, closing the bug.

[2021-06-08 17:26] #345 closed

[2021-06-15 15:25] csgtree opened #353 "Restore stuck in phase "InProgress" for Vanilla cluster"
**Describe the bug**

Restore stuck in phase "InProgress" for Vanilla cluster.

**To Reproduce**

1. succeeds to create backup with snapshot by command `velero -n wangc backup create bk  --snapshot-volumes=true --include-namespaces nginx-example --include-cluster-resources=false --storage-location=bsl-aws --volume-snapshot-locations=vsl-vsphere`
2. fails to restore the backup with snapshot by comm

[2021-06-17 08:35] csgtree commented on #353
Below is the output of get upload. It should be completed.

[code]

[2021-06-21 03:47] csgtree commented on #353
As VMware OSE 2.1 release depends on the snapshot backup/restore feature, it will be great help if the issue can be resolved.

[2021-06-21 12:40] xing-yang commented on #353
@lintongj Can you take a look?

[2021-06-21 20:26] lintongj commented on #353
@csgtree

This is a user error. The root cause is, the connection to the Backup Storage Location `bsl-aws` for the backup is refused. Please double check the connection in the cluster and retry the velero restore operation.

[code]

BTW, here are some suggestions to the information you provided.
1. Unexpected Backup Command. Please DO NOT append `--volume-snapshot-locations=vsl-vsphere` to the end

[2021-06-22 14:36] eleanor-millman opened #355 "Fix documentation to clarify that v1.1.1 and greater needs the "v""
**Describe the problem/challenge you have**

While following the documentation on this page: https://github.com/vmware-tanzu/velero-plugin-for-vsphere/blob/main/docs/vanilla.md and specifically this commend ("velero plugin add vsphereveleroplugin/velero-plugin-for-vsphere:1.1.0"), I tried to use 1.1.1 and just replaced the "0" with a "1" without adding the needed "v". It took me a long, long time

[2021-06-23 03:00] csgtree commented on #353
There are multiple velero server deployed in the different namespaces of the cluster. The inaccessible one quoted is in another namespace. Now that backup succeeded, it is believed the backup location is of good condition. I will remove all the other velero servers and have another try.
[code]

[2021-06-23 06:44] csgtree commented on #353
Clean up the env and test again.
The backuplocation bsl-aws is healthy.
But it seems CloneFromSnapshot and Download are not in good status.
What to do next to troubleshoot the issue?
Thanks

[code]

[code]

[code]
[code]
[datamgr.log](https://github.com/vmware-tanzu/velero-plugin-for-vsphere/files/6699515/datamgr.log)
[backup-driver.log](https://github.com/vmware-tanzu/velero-plugin-for-vsphere/fi

[2021-06-23 17:24] lintongj commented on #353
From VDDK log,
[code]
The root cause is `Failed to lock` the specific VMDK file. I guess you didn't remove the application before the restore. Basically, you are supposed to remove the backed-up application from the cluster before the restore. velero-plugin-for-vsphere doesn't support in-place restore. I don't think velero does, either.

From backup-driver.log
[code]
We can confirm the application

[2021-06-23 23:04] lintongj commented on #353
FYI, we had a fix at #341  to improve the user experience. Basically, plugin would skip PVC restoration if it already exists. It would be available in the upcoming release.

[2021-06-24 03:31] csgtree commented on #353
Thanks a lot! It works if both application and its PV are removed.

One short question. When will #341 be in the official release?

[2021-06-24 03:44] xing-yang commented on #353
QE is testing 1.2 RC1 now.  Should be released soon.

[2021-06-24 05:34] csgtree commented on #353
Thanks!

[2021-06-24 05:34] #353 closed

[2021-06-28 05:48] dineshtripathi30 opened #356 "Incorrect spelling under Backup vSphere CNS File Volumes section"
**Describe the bug**

Spelling mistake in the below section
https://github.com/vmware-tanzu/velero-plugin-for-vsphere/blob/v1.1.0/docs/vanilla.md#backup-vsphere-cns-file-volumes

Instead of volumes , it is folumes

**To Reproduce**

Look at the attached screenshot

It should be updated as volumes

[A clear and concise description of what you expected to happen]

**Troubleshooting Information**

[P

[2021-06-28 21:06] #356 closed

[2021-07-01 02:00] xing-yang opened #361 "Enhance documentation on "velero backup delete""
**Describe the bug**
We should have a section that describes what "velero backup delete" does.  Right now it is mentioned briefly here: https://github.com/vmware-tanzu/velero-plugin-for-vsphere/blob/main/docs/vanilla.md#uploads

**To Reproduce**

[Steps to reproduce the behavior]

**Expected behavior**

[A clear and concise description of what you expected to happen]

**Troubleshooting Information

[2021-07-02 01:51] xing-yang opened #362 "Document how to change VDDK logging level"
**Describe the bug**
We should document how to change VDDK logging level here: https://github.com/vmware-tanzu/velero-plugin-for-vsphere/blob/main/docs/troubleshooting.md

**To Reproduce**

[Steps to reproduce the behavior]

**Expected behavior**

[A clear and concise description of what you expected to happen]

**Troubleshooting Information**

[Please refer to the [Troubleshooting](https://github

[2021-07-07 21:29] #362 closed

[2021-07-16 14:19] xing-yang opened #366 "Change CustomResourceDefinition v1beta1 to v1"
**Describe the bug**
We changed CustomResourceDefinition v1 to v1beta1 to support pre-1.16 k8s clusters in this PR: https://github.com/vmware-tanzu/velero-plugin-for-vsphere/pull/243.  However, CRD v1beta1 support is removed in 1.22 which is coming on August 4th: https://kubernetes.io/blog/2021/07/14/upcoming-changes-in-kubernetes-1-22/.  We should change back to CRD v1.

**To Reproduce**

[Steps

[2021-07-16 22:57] #366 closed

[2021-07-20 02:12] xing-yang opened #369 "Clarify vSphere Operator and Data Manager install docs"
**Describe the bug**
I'm opening this bug to track the following doc issues:
- Need to explain how to find WCPControlPlaneIP for OVA
- Add a couple of missing screenshots for Velero vSphere Operator install in an Airgap environment.

**To Reproduce**

[Steps to reproduce the behavior]

**Expected behavior**

[A clear and concise description of what you expected to happen]

**Troubleshooting Inform

[2021-07-20 20:03] #355 closed

[2021-07-28 06:18] ywk253100 opened #370 "Backup failed if the length of backup name > 64"
If we create a backup with name > 64 characters(e.g. `backup-bsl-e7a1d0f3-2f29-4d80-9184-6214dac91d96-e7a1d0f3-2f29-4d80-9184-6214dac91d96`), will get the following error:
[code]

plugin version:  `v1.1.1`

[2021-07-28 15:33] lintongj commented on #370
It is not pretty much a bug, but a known issue in velero-plugin-for-vsphere. We should have put it in our documentation though.

Basically, we put backup name as a label in Snapshot CRD for the convenience of back referencing, https://github.com/vmware-tanzu/velero-plugin-for-vsphere/blob/fac6530fdc429c00119fe76972620943871843ae/pkg/plugin/backup_pvc_action_plugin.go#L147. And kubernetes labels ha

[2021-08-02 08:21] ruxi008 opened #374 "Failed to get cluster flavor"
Hi!

We use TKGI v1.11.2 with automatic deployed CSI Driver (https://docs.pivotal.io/tkgi/1-11/vsphere-cns.html)
With Version 1.2 of velero-plugin-for-vsphere a version checker was beeing introduced, which is not compatible with this automatic deployment of CSI via CNS:
https://github.com/vmware-tanzu/velero-plugin-for-vsphere/pull/348

now we receive following message:
...
`time="2021-07-30T14:06

[2021-08-02 19:18] xing-yang commented on #374
"Kubernetes Multi-node Control Plane support" is not supported by vSphere Plugin yet.

[2021-08-03 10:48] ruxi008 commented on #374
hi - ok, understood
- currently we run velero v1.6.2 with velero-plugin-for-vsphere v1.1.1 -> this is technically working fine

[2021-08-03 22:51] deepakkinni commented on #374
@ruxi008 were there Secret with vSphere credentials on the setup?

[2021-08-04 07:22] ruxi008 commented on #374
hi!

before TKGI release v1.11.x CSI driver was manually installed, including vsphere secrets (see https://docs.pivotal.io/tkgi/1-10/vsphere-cns.html#manual)
after migration to automatic setup i deleted manually installation following this documentation: https://docs.pivotal.io/tkgi/1-11/vsphere-cns.html#uninstall-csi
so - vsphere secret is still available in kube-system ns
with plugin v1.1.1 inst

[2021-08-04 17:19] deepakkinni commented on #374
Thanks, so to re-iterate my understanding, releases prior to TKGi v1.11.x installed the csi driver using the manifests from https://github.com/kubernetes-sigs/vsphere-csi-driver/tree/master/manifests , implying the csi driver was installed as a Deployment. The csi driver was later un-installed and installed using some automated method, which manifests were used? Could you explain what the automati

[2021-08-05 08:50] ruxi008 commented on #374
hi!

yes - right. before 1.11.x it was deployed via manifests

starting with v1.11.x it get deployed via bosh directly on master/workernodes.
i do not find any details about manifests used by vmware to manage this install configuration - i can add example output from masternode:
[code]

[2021-08-12 17:14] aceeric opened #378 "velero plugin for vsphere in air-gapped environment"
I see some other references to this but none others seem to exactly match my situation.

I'm installing velero, and the velero plugin for aws, and velero plugin for vsphere in an air-gapped environment. I'm installing using the helm chart https://github.com/vmware-tanzu/helm-charts/releases/tag/velero-2.23.3

I'm specifying the following in the `initContainers` list of the `values.yaml` for the vs

[2021-08-12 17:51] lintongj commented on #378
@aceeric Thanks for reporting this issue.

velero-plugin-for-vsphere has other two internal component, backup-driver and data-manager-for-plugin. So, you need to download the following two images and put it into your internal registry.
- vsphereveleroplugin/backup-driver:v1.1.1
- vsphereveleroplugin/data-manager-for-plugin:v1.1.1

btw, three velero-plugin-for-vsphere related images in your interna

[2021-08-12 18:34] aceeric commented on #378
Ok I think I understand. Let me just confirm something. When we sync our external images into our internal registry we do some name mangling. For example: FROM docker.io/velero/velero-plugin-for-aws > TO > our-internal-registry.org/ourproject/velero-velero-plugin-for-aws. Reason is: we sync many other images from multiple registries and this helped create order from chaos. I think based on what yo

[2021-08-12 18:40] aceeric commented on #378
Ok - I will give this a try - I believe you're saying that image specification will "inherit" the velero operator image. So if we start the operator with the helm chart `image.repository: our-internal-registry/our-project/velero-velero:vX.Y.Z` then the operator will look for `our-internal-registry/our-project/velero-plugin-for-vsphere:v1.1.1` as long as we ensure that the repo is `velero-plugin-fo

[2021-08-12 19:48] lintongj commented on #378
That's correct. Basically, when velero deployment is created, the init containers, e.g. velero-plugin-for-vsphere, get started first, which in turn triggers the installation of velero-plugin-for-vsphere. And the installation of velero-plugin-for-vsphere will internally deploy backup-driver and data-manager-for-plugin, which will pull corresponding images from the expected internal registry if avai

[2021-08-13 17:09] aceeric commented on #378
This worked. Thank you.

[2021-08-13 17:13] aceeric opened #379 "Consider the ability to explicitly configure image names"
This relates to https://github.com/vmware-tanzu/velero-plugin-for-vsphere/issues/378

We're installing velero, and the velero plugin for aws, and velero plugin for vsphere in an air-gapped environment using the helm chart https://github.com/vmware-tanzu/helm-charts/releases/tag/velero-2.23.3

In our air-gapped registry we import images from many external registries and organizations. To minimize t

[2021-08-16 17:51] lintongj commented on #379
Thanks for your suggestion. What about filling in these arguments in a specific config-map in velero namespace? Is it also acceptable from users' point of view?

[2021-08-16 21:30] aceeric commented on #379
Yes I think that would be fine as well. Alternately, environment variables in the init container could be used. There are many approaches. As long as the flexibility is there - it will be fine. Thank you.

[2021-08-17 02:01] lintongj commented on #305
Closed it as [the release v1.2.0](https://github.com/vmware-tanzu/velero-plugin-for-vsphere/releases/tag/v1.2.0) was out.

[2021-08-17 02:01] #305 closed

[2021-08-17 02:31] xing-yang opened #382 "Update to Distroless image"
**Describe the problem/challenge you have**
Move from ubunu:focal base image to Distroless. See details here: https://github.com/vmware-tanzu/velero/issues/3500

**Describe the solution you'd like**

**Anything else you would like to add:**

**Environment:**

[Provide the [required environment information](https://github.com/vmware-tanzu/velero-plugin-for-vsphere/blob/main/docs/troubleshooting.md#

[2021-08-20 13:08] insidepacket opened #385 "cert-manager resources (certificates, issuers and certificate requests) can't be backed up."
**What steps did you take and what happened:**
I followed the [[VMware official doc]](https://docs.vmware.com/en/VMware-Tanzu-Kubernetes-Grid/1.3/vmware-tanzu-kubernetes-grid-13/GUID-cluster-lifecycle-backup-restore-mgmt-cluster.html) and completed the installation of Velero. When I tried to back up a namespace in a TKG 1.3.1 workload cluster. The backup is partially failed. When I checked the bac

[2021-08-30 19:57] #378 closed

[2021-09-03 15:58] zhouhb0321 opened #387 "Velero backup failed for vSphere with Tanzu v7.0u2"
when I run:
kubectl -n velero  logs backup-driver-7fcdb4bc58-wjmcr
It reported can not connect to wcp controlplane.

Repository: Get https://10.96.0.1:443/apis/backupdriver.cnsdp.vmware.com/v1alpha1/backuprepositories?allowWatchBookmarks=true&resourceVersion=122192745&timeout=5m16s&timeoutSeconds=316&watch=true: dial tcp 10.96.0.1:443: connect: connection refused
E0903 07:28:12.432315       1 refl

[2021-09-03 16:58] lintongj commented on #387
Would you please share more information by following the troubleshooting page, https://github.com/vmware-tanzu/velero-plugin-for-vsphere/blob/main/docs/troubleshooting.md? Thanks

[2021-09-05 07:29] zhouhb0321 commented on #387
ubuntu@cli-vm:~/velero-vsphere-1.1.0-linux-amd64$ velero version
Client:
        Version: v1.6.1
        Git commit: ef34b9b6546b0e972eddce71a40cf14a7b9eb393
Server:
        Version: v1.5.1
# WARNING: the client version does not match the server version. Please update server

ubuntu@cli-vm:~/velero-vsphere-1.1.0-linux-amd64$ velero client config get features
features: <NOT SET>
ubuntu@cli-vm:~/vel

[2021-09-05 07:35] zhouhb0321 commented on #387
time="2021-09-05T07:33:58Z" level=info msg="Checking for existing backup locations ready to be verified; there needs to be at least 1 backup location available" controller=backupstoragelocation logSource="pkg/controller/backupstoragelocation_controller.go:58"
time="2021-09-05T07:33:58Z" level=info msg="Checking for existing backup locations ready to be verified; there needs to be at least 1 backup

[2021-09-05 07:36] zhouhb0321 commented on #387
I can just get backup-location in namespace velero, is that normal?

[2021-09-07 17:52] lintongj commented on #387
The root cause of your issue is,

[code]

Please follow https://github.com/vmware-tanzu/velero-plugin-for-vsphere/blob/main/docs/supervisor-notes.md#restricted-resources to exclude the restricted resource `projects.registryagent.vmware.com` in the backup.

[2021-09-07 17:55] lintongj commented on #387
Yes. BackStorageLocation is a namespace scoped resource.

[2021-09-09 04:09] zhouhb0321 commented on #387
velero backup create backup009 --include-namespaces=backup-demo  --snapshot-volumes --volume-snapshot-locations vsl-vsphere -n velero --exclude-resources projects.registryagent.vmware.com,contentsources.vmoperator.vmware.com,contentsourcebindings.vmoperator.vmware.com,members.registryagent.vmware.com
I have exclude-resources from cli and backup sucessfully.
Thanks!

[2021-09-09 17:50] kaimals1 opened #389 "Velero backup fails with NetWorkAttachmentDefinition CR in namespace"
Environment:
k8s 1.19.2 on Ubuntu 18
VELERO_IMAGE=velero/velero:v1.6.0
VELERO_VSPHERE_PLUGIN_VERSION=v1.2.1
PPDM to perform backup
Steps:
Create a namespace
Install multus cni and create NetWorkAttachmentDefinition CR in the namespace
Backup namespace
Observation:
Backup fails with below error mesage:
time="2021-09-07T21:29:28Z" level=info msg="1 errors encountered backup up item" backup=velero-pp

[2021-09-09 18:05] lintongj commented on #389
@kaimals1 would you please confirm the cluster flavor of your setup? Thanks.

We will look into the issue why the NetWorkAttachmentDefinition resource is parsed as a PVC object by plugin.

FYI, the NetWorkAttachmentDefinition CRD is a restricted resource from [the list](https://github.com/vmware-tanzu/velero-plugin-for-vsphere/blob/main/docs/supervisor-notes.md#restricted-resources). When the pars

[2021-09-10 00:03] dsu-igeek opened #390 "Better error messages for vSphere errors"
**Describe the problem/challenge you have**

vSphere errors are being reported as the numeric code only.  Where possible, returning a more descriptive message would
help users diagnose problems themselves.

**Describe the solution you'd like**
Provide a descriptive error message for at least common codes (e.g. error 3014 - vSphere account does not have sufficient privileges).

[2021-09-20 21:57] #389 closed

[2021-09-22 16:14] #382 closed

[2021-09-24 04:08] ywk253100 opened #398 "Velero install failed with the latest dev build of plugin on k8s provisioned by tkgm"
Trying to install velero with the plugin `dpcpinternal/velero-plugin-for-vsphere:main-1e7aa17-22.Sep.2021.20.19.31` on the Kubernetes provisioned by tkgm 1.3.1, the `backup-driver` and `datamgr-for-vsphere-plugin` cannot start up

[code]

[code]

[code]
After creating the configamp, it is still failed
[code]

[code]

[2021-09-24 04:15] ywk253100 opened #399 "The vsphere plugin v1.1.1 doesn't respect the credential of the addition backup storage"
When doing backup with the additional backup storage which has its own credential, the backup will fail
The error log of backup driver:
[code]

[2021-09-24 04:16] ywk253100 commented on #399
Not sure it's a known issue or not, just record it in case other users get the same issue. Please close it if it is already fixed.

[2021-09-24 13:18] xing-yang commented on #399
What do you mean by "the additional backup storage which has its own credential"?  Do you mean self-signed certificate?  How did you install Velero?

[2021-09-24 13:38] xing-yang commented on #398
Have you created the secret?

[2021-09-24 13:57] ywk253100 commented on #399
I set up two separated MinIO services to run as the backup storage, the credentials for these two MinIO services are different.
I install velero server with the first MinIO service as the default backup storage, after that I create a new backup storage for the second MinIO service by the `velero backup-location create` command.
And when I try to do the backup with the second backup storage, I get

[2021-09-24 17:25] deepakkinni commented on #399
Share the logs: backup-driver, velero backup logs, and data-mgr logs.

[2021-09-24 17:31] lintongj commented on #399
I believe multiple credentials for BSL was introduced at v1.6.0. But it is not yet supported in plugin side yet.

[2021-09-24 20:56] deepakkinni commented on #398
Assuming velero is installed on "velero" namespace please follow the instructions precisely:

Steps:
1. Bring down velero, backup-driver, data-manager

[code]

2. Create VC credential Secret
Note: You can retrieve these values from Secret vsphere-config-secret in vmware-system-csi namespace for 2.3 vSphere CSI driver OR Secret vsphere-config-secret in kube-system namespace for 2.2 vSphere CSI driv

[2021-10-19 09:45] tomasodehnal opened #404 "Unable to backup vSphere persistent volumes to S3 (Access Denied)"
**Describe the bug**

I'm unable to backup persistent volumes hosted on vSphere to AWS S3. While backing up other resources works, the persistent volumes are snapshot but the upload fails with error:
[code]
Similar message is present in the Velero backup log:
[code]

**To Reproduce**

0. Create AWS S3 bucket, set the permissions according to <https://github.com/vmware-tanzu/velero-plugin-for-aws#S

[2021-10-20 23:55] lintongj opened #405 "Confirm the minimum AWS IAM user permission required by velero-plugin-for-vsphere and update documentation"
**Describe the problem/challenge you have**

[A description of the current limitation/problem/challenge that you are experiencing.]

As the issue reported in #404, user run into the `AccessDenied` issue during the snapshot upload. It implies that the IAM user permission suggested in `velero-policy.json` at [Set permissions with an IAM user](https://github.com/vmware-tanzu/velero-plugin-for-aws#set

[2021-10-21 14:14] #404 closed, assigned to nobody

[2021-10-21 14:51] dsu-igeek commented on #404
The logs are accessed via a presigned URL returned from the server.  We've considered putting a proxy into the server but then that opens up its own security concerns.

[2021-10-25 13:10] farodin91 opened #406 "Would it be possible to setup a vanila in a same way as a supervisor cluster?"
**Describe the problem/challenge you have**

We would like to use the plugin to backup vsphere volumes, but I'm not really happy to give all cluster direct access to the esxi hosts.

**Describe the solution you'd like**

Setup  a VM with backupdriver and data mover and only allow access to this VM. This VM is communicating with vsphere.

**Environment:**
General/Vanilla

[2021-11-02 21:38] lintongj opened #409 "Update the outdated examples/demo-app.yaml"
**Describe the bug**

[examples/demo-app.yaml](https://github.com/vmware-tanzu/velero-plugin-for-vsphere/blob/main/examples/demo-app.yaml) is pretty much outdated. We need to update it to keep aligned with most recent k8s versions

**To Reproduce**

1. Got a Vanilla k8s cluster on vSphere
2. Run the yaml to deploy a demo app.

**Expected behavior**

The demo-app YAML can deploy a demo app without

[2021-11-03 21:18] noseka1 opened #410 "When using --namespace-mappings, cannot restore volume if the original volume still exists"
**Describe the bug**

Original namespace is the namespace in which the volume backup was created. Target namespace is the namespace I want to restore the volume to. Adding the `--namespace-mappings` allows restoring the volume in a target namespace that is different from the original namespace.

When restoring the volume, the restore operation checks if the volume already exists before creating it

[2021-11-10 15:29] MikeK184 opened #413 "PV's with Storageclass storageclass.vsphere-thin aren't restored/backed up"
**What steps did you take and what happened:**
Installed Velero with the following steps:
[code]
And made a backup with:
`velero backup create e-xdm-application.manual --include-namespaces e-xdm-application`
![image](https://user-images.githubusercontent.com/56921065/141069878-ccd647ea-2e6c-4d17-bb6b-41a4e34c540e.png)

**What did you expect to happen:**
We've already done a couple of restores with

[2021-11-10 22:51] lintongj commented on #413
@MikeK184 would you please share the YAMLs of storage class, PV/PVC objects, as well as the backup-driver log by following the [troubleshooting](https://github.com/vmware-tanzu/velero-plugin-for-vsphere/blob/main/docs/troubleshooting.md#troubleshooting) page?

Also, looks like you are using velero with restic. Were you doing backup using velero with velero-plugin-for-vsphere deliberately as well?

[2021-11-11 10:06] MikeK184 commented on #413
Hi there @lintongj ;

Here are all our Storageclasses in one of our Clusters.
https://gist.github.com/MikeK184/c4e5f024a9c2b6b9611356d39f418465

And here would be 4 pv followed by their pvc's:
https://gist.github.com/MikeK184/e398f2421d6d3cd561d512758a9a66e5

And additional info regarding the backup-driver:
### Environment
Can be found in my initial post
### Logs
Velero Deployment Log: https://gis

[2021-11-11 20:44] lintongj commented on #413
@MikeK184 Thanks for providing all the information above.

The volumes failed in the backup are not provisioned by vSphere CSI volumes, but by in-tree vSphere volume plugin. Please check the `provisioner: kubernetes.io/vsphere-volume` below.

[code]

velero-plugin-for-vsphere doesn't support to backup in-tree volumes. That's reasons why you run into the failure in velero-plugin-for-vsphere. The re

[2021-11-15 23:27] lintongj commented on #410
@noseka1 Thanks for reporting this issue.

@xing-yang Would you please help assign it?

[2021-11-18 15:44] sb-ev opened #417 "Upload to & delete backup from Hitachi Vantara Storage (HCP) fails"
## Describe the bug

1. Upload to Hitachi Vantara Storage (HCP) 9.1.0.173 fails.
2. Delete Backup from Hitachi Vantara Storage (HCP) 9.1.0.173 fails.

## To Reproduce

Our setup is the following:

* vCenter 7U3a
* Supervisor:
  * Velero vSphere Service 1.1.0
  * Velero vSphere Operator 1.1.0
  * Velero 1.5.1
  * AWS_PLUGIN v1.2.1
  * VSPHERE_PLUGIN v1.2.1
  * BACKUP_DRIVER v1.2.1
  * DATA_MANAGER

[2021-11-19 19:10] lintongj commented on #417
Both velero-plugin-for-vsphere and velero-plugin-for-aws reports the `NoSuchKey` error.

velero-plugin-for-vsphere
[code]

velero-plugin-for-aws
[code]

That's pretty weird. I was wondering if there is any issue with your object store. Would you please check it and see if the object with `NoSuchKey` error reported is available?

[2021-11-22 22:46] xinyanw409 commented on #410
Hi @noseka1 , I followed the reproduced steps mentioned above and the restore succeeded:
[code]
Can you give more details about how to run the test and what kind of cluster you used? Thanks.

[2021-11-22 23:04] xing-yang opened #418 "Add doc to update 1.3 install"
**Describe the bug**

[A clear and concise description of what the bug is]

**To Reproduce**

[Steps to reproduce the behavior]

**Expected behavior**

[A clear and concise description of what you expected to happen]

**Troubleshooting Information**

[Please refer to the [Troubleshooting](https://github.com/vmware-tanzu/velero-plugin-for-vsphere/blob/main/docs/troubleshooting.md) page and collect

[2021-11-23 00:51] xing-yang commented on #398
@ywk253100 This issue should be fixed by v1.3.0.  Please verify.

[2021-11-23 01:53] ywk253100 commented on #398
@xing-yang Still get the same error with vSphere plugin 1.3.0

[code]

[code]

[code]

[code]

[2021-11-23 02:00] xing-yang commented on #398
@ywk253100, you need to create a Configmap.  See details in the PR description section here: https://github.com/vmware-tanzu/velero-plugin-for-vsphere/pull/391

[2021-11-23 02:01] xing-yang commented on #398
I also opened a PR for @deepakkinni to update the install doc in Github: https://github.com/vmware-tanzu/velero-plugin-for-vsphere/issues/418

[2021-11-23 19:25] deepakkinni commented on #398
Follow the same instructions as https://github.com/vmware-tanzu/velero-plugin-for-vsphere/issues/398#issuecomment-926914563 , will be updating the official documentation shortly.

[2021-11-26 05:06] anooptp commented on #409
@lintongj Could you please review the PR.

[2021-11-29 18:12] poojitab opened #421 "Feature flags are not processed when a velero sha256 image is used for velero install."
**Describe the bug**

- When velero sha256 image is used for velero install by OADP operator 0.4.2, feature flags provided for this container are not captured. Hence "EnableLocalMode" is neither parsed/set in configMap 'velero-vsphere-plugin-feature-states' by vSphere plugin.
- Velero sha256 image used was: _velero/velero@sha256:934dae8b2e17b4298bca95f45ec3620a283647297fb8ba8c0f5977e8238a97ee_
- I

[2021-11-30 09:31] wanghuok opened #423 "backup statefulset failed with velero 1.6.3 +velero-plugin-for-vsphere:v1.3.0-rc4"
**Describe the bug**

backup fails

**To Reproduce**

1. setup tkgi 1.13
2. create a k8s cluster
3. install velero and velero-plugin-for-vsphere:v1.3.0-rc4
4. create 10 namespaces, 100 statefulsets with 1g pv each
5. backup 10 namespaces, 2 namespaces each time
6. the first four backupswere successful. but the last one is PartiallyFailed

**Expected behavior**

[A clear and concise description of

[2021-11-30 13:57] liyan-su opened #424 "backup statefulset failed with "unable to upgrade connection: container not found (\"fsfreeze\")""
**Describe the bug**
env: TKGI 1.13 + velero 1.6.3 + velero-plugin-for-vsphere:v1.3.0-rc4
backup items 696/696, but there are two error messages "unable to upgrade connection: container not  found (\"fsfreeze\")"

**To Reproduce**

    1.setup tkgi 1.13
    2.create a k8s cluster
    3.install velero and velero-plugin-for-vsphere:v1.3.0-rc4
    4.create 10 namespaces, 100 statefulsets with 1g pv e

[2021-11-30 14:35] xing-yang commented on #423
"/sbin/fsfreeze --freeze /var/lib/postgresql/data" is not the right command to quiesce PostgreSQL. I think there's a problem with the quiesce command there.

Also execution hook is part of Velero. @zubron Please feel free to transfer this issue to Velero repo.

[2021-11-30 14:39] xing-yang commented on #424
This is related to https://github.com/vmware-tanzu/velero-plugin-for-vsphere/issues/423.  It has to do with the container that contains the fsfreeze command.

@zubron Please feel free to transfer this to Velero repo.  Thanks.

[2021-11-30 18:28] #421 closed

[2021-11-30 23:48] xing-yang opened #426 "Add doc for Data Manager upgrade on Supervisor Cluster"
**Describe the bug**

[A clear and concise description of what the bug is]

**To Reproduce**

[Steps to reproduce the behavior]

**Expected behavior**

[A clear and concise description of what you expected to happen]

**Troubleshooting Information**

[Please refer to the [Troubleshooting](https://github.com/vmware-tanzu/velero-plugin-for-vsphere/blob/main/docs/troubleshooting.md) page and collect

[2021-11-30 23:49] xing-yang opened #427 "Add doc for how to upgrade vSphere Plugin version on Supervisor Cluster"
**Describe the bug**

[A clear and concise description of what the bug is]

**To Reproduce**

[Steps to reproduce the behavior]

**Expected behavior**

[A clear and concise description of what you expected to happen]

**Troubleshooting Information**

[Please refer to the [Troubleshooting](https://github.com/vmware-tanzu/velero-plugin-for-vsphere/blob/main/docs/troubleshooting.md) page and collect

[2021-12-01 01:58] wanghuok opened #428 "failed to restore with error: "Failed to create a CloneFromSnapshot CR""
**Describe the bug**

restore failed

**To Reproduce**

1. setup tkgi 1.13
2. create a k8s cluster
3. install velero and velero-plugin-for-vsphere:v1.3.0-rc4
4. create 10 namespaces, 100 statefulsets with 1g pv each
5. successfully to backup 10 namespaces , 2 namespaces each time
6. delete all 10 namespaces
7. failed to restore from previous backups:

**Expected behavior**

restore successfully

*

[2021-12-02 07:41] sb-ev commented on #417
Information from the storage provide was:

[2021-12-02 07:41] #417 closed

[2021-12-03 09:48] sb-ev opened #429 "Custom CA with Velero vSphere Operator CLI"
## Describe the problem/challenge you have

When installing the velero-plugin-for-vsphere on a Supervisor Cluster via the `velero-vsphere` Operator CLI, there is no option to provide a custom CA.
This is only possible, when installing velero on a Tanzu Kubernetes Cluster with the `--cacert` flag.

This means, that the velero pod on the Supervisor Cluster does not find a default storage location.
T

[2021-12-03 20:47] xing-yang commented on #429
This is not supported on Supervisor Cluster yet.

[2021-12-03 21:50] #409 closed

[2021-12-04 00:03] #418 closed

[2021-12-06 11:20] sb-ev commented on #429
@xing-yang thanks for the confirmation.
Is this enhancement currently on the roadmap?

[2022-01-04 16:13] xing-yang commented on #429
@sb-ev We are looking into this. We don't have a timeline yet.

[2022-01-07 09:18] danfengliu opened #438 "Old backuprepositories resources are not cleared after re-installation of Velero with plugin for vSphere"
**Describe the bug**

Old backuprepositories resources are not cleared after reinstallation of Velero, as you can see the logs below, there're a lot of **OLD** backuprepositories, even though I uninstalled and installed Velero  a lot times, right after vsphere-plugin installation, we can get old resource and error logs(from some previous Velero installation credential problem) in backup driver pod

[2022-01-07 11:54] qiuming-best commented on #438
I find some ohter crd also is not been deleted after uninstall velero
crd: snapshots.backupdriver.cnsdp.vmware.com, clonefromsnapshots.backupdriver.cnsdp.vmware.com

[2022-01-07 18:06] lintongj commented on #438
Did you run commands under https://github.com/vmware-tanzu/velero-plugin-for-vsphere/blob/main/docs/vanilla.md#uninstall when uninstall velero?

[2022-01-08 02:05] qiuming-best commented on #438
Thanks, I will try with the docs

[2022-01-08 03:22] qiuming-best opened #439 "Support for S3 object store with aws temporary credentials"
**Describe the problem/challenge you have**
Currently, I'm using the[ aws temporary credentials](https://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp.html) to access the backend object store, and I did backup and restore, But my restore was PartiallyFailed, After retrieve the velero pod logs, I get this error "Failed to create a CloneFromSnapshot CR:Phase=Failed,err=cloneFromSnapsh

[2022-01-08 03:32] qiuming-best commented on #428
@wanghuok Also I've encountered this error, I just retry the restore action, the restore is successful without error.

[2022-01-10 03:18] ywk253100 commented on #438
Velero tries to remove all CRDs with label `"component": "velero"` [here](https://github.com/vmware-tanzu/velero/blob/main/pkg/cmd/cli/uninstall/uninstall.go#L120), so the CRDs can be removed automatically with velero if the label is added into the CRDs created by the vSphere plugin when uninstalling velero.

[2022-01-10 10:39] liyan-su commented on #428
Hi dev,
any update on this issue?

[2022-01-10 18:43] deepakkinni commented on #428
It appears that there are mainly 2 kinds of errors from the attached logs:

1. Create download cr failed.
This was identified earlier, and fixed in https://github.com/vmware-tanzu/velero-plugin-for-vsphere/pull/434. The fix is available in 1.3.1, would you be willing to try it out?

2.  PVC did not become Bound: PersistentVolumeClaims not all in phase Bound within 3m0s
Please provide the csi drive

[2022-01-10 22:24] liyan-su commented on #428
Thanks @deepakkinni reply, we cann't provide backup-driver and data-manager logs due to we don't have the environment yet, we will verify this issue in tkgi1.14 if we can. thanks

[2022-01-13 08:18] qiuming-best commented on #439
@xing-yang Do we have a plan to support the AWS temporary credentials? if so, I'll submit one pr about it.

[2022-02-11 02:25] xing-yang opened #444 "Add a known issue that volume expansion is not supported when there are snapshots"
**Describe the bug**
If upload fails during backup, the local snapshot will not be deleted.  Velero vSphere Plugin will keep retrying the upload. If user wants to expand volume, it will fail because volume expansion is not supported when there are snapshots on the volume.

We should document this in the Known Issues section.

[A clear and concise description of what the bug is]

**To Reproduce**

[2022-02-21 10:54] son-la opened #447 "Velero restores volume as thick-provisioned, although originally it was thin-provisioned."
**Describe the bug**

Velero restores volume as thick-provisioned, although originally it was thin-provisioned.

**To Reproduce**

The backup scope is 1 PVC of size 15GB (thin provisioned) with very little content in it (<100MB). The corresponding VMDK file for that VPC is pretty reasonable size.

When the snapshot is uploaded to S3, the uploaded object is the size of PVC (15GB). This is explained

[2022-02-22 15:45] son-la commented on #447
Thank you for the answer.

For storage class configuration, I actually left the storage policy name to be empty. I thought that it wouldn't have any impact since any new PVC have always been thin-provisioned already so far when using that storage class. Is this a root cause in here? I cannot find out yet how to create a vSphere storage policy, which force volume to be thin-provisioned.

In the sto

[2022-02-22 18:32] lintongj commented on #447
@son-la I believe it is a NFS datastore, right?
If yes, it is a known issue in VDDK. Check out the article, https://kb.vmware.com/s/article/2137818.

FYI, in the restore path, velero-plugin-for-vsphere would dynamically provision a PVC for the backup and then use VDDK to overwrite its underlying volume with backup data using VDDK.

[2022-02-22 18:44] son-la commented on #447
Thank you @lintongj , I checked the case. Actually I'm having VMware ESXi, 6.7.0, 15160138 and the data store is VMFS 5. So most likely not the case that you referred above.

[2022-02-22 19:16] lintongj commented on #447
The same issue in VMFS datastore is not an issue I am aware of.
BTW, velero-plugin-for-vsphere requires VC and ESX with 6.7U3 or above ([link](https://github.com/vmware-tanzu/velero-plugin-for-vsphere/blob/main/docs/vanilla.md#compatibility)). It might not be the direct cause of this issue. But, it would be great to try it out with setup that meets the prerequisite.

[2022-02-22 19:26] son-la commented on #447
The version in vCenter UI is abit misleading. From this page, the build number should be newer than 6.7u3: https://kb.vmware.com/s/article/2143832
![image](https://user-images.githubusercontent.com/18629252/155203956-3fc44cf2-27a3-4d7c-ac14-c7db867d277f.png)

[2022-02-22 19:38] lintongj commented on #447
Ok. That's fine.
I am checking with VDDK team about the observation in VMFS 5 you had. Will keep you updated when I get any feedback.

[2022-02-23 19:05] lintongj commented on #447
@son-la I confirmed with VDDK internally that the issue you have is not the same as [the known VDDK issue on NFS datastore](https://kb.vmware.com/s/article/2137818).

However, it is expected by the current design of velero-plugin-for-vsphere. As I mentioned earlier, on the restore path, the whole volume that was dynamically provisioned would then be overwritten with backup data. It would change di

[2022-03-01 13:56] #444 closed

[2022-03-08 08:29] danfengliu opened #451 "--selector <key>=<value> in Velero create backup command is not functional"
**Describe the bug**
When creating backup with option --selector <key>=<value>, no snapshot CR was created as expect, it should be functional when user backing up selected PVs.

**To Reproduce**
[code]

[code]

No new snapshot CR was created for  backup "b5", all CRs below belong to other backups without selector option:
[code]

[Steps to reproduce the behavior]

**Expected behavior**

[A clear an

[2022-03-09 01:34] lintongj commented on #451
@danfengliu would you please share the velero log?

[2022-03-09 02:18] danfengliu commented on #451
Hi @lintongj , here is Velero log for  backup b6 and b7, b6 is a backup without selector, b7 is a backup with selector for=1:

[code]

[2022-03-09 04:17] lintongj commented on #451
@danfengliu the log you provided doesn't contain information about the backup `b5`.  You can get the log for the expected backup using,

[code]

Meanwhile, please also share the detail of backup CR of `b5`.

[2022-03-09 04:36] lintongj commented on #451
@danfengliu
As far as I can see, the backup of velero-plugin-for-vsphere was never triggered in the backup of `b7`. You can verify it by searching for `pluginName=velero-plugin-for-vsphere` in your log.

My guess is, the corresponding PVC whose PV has label selector `for=1`, so that the PVC is filtered out in backup path of velero core code. FYI, velero-plugin-for-vsphere performs backup at PVC le

[2022-03-09 07:15] danfengliu commented on #451
Hi @lintongj , I will check with Velero project why velero-plugin-for-vsphere was never triggered. Just FYI, other cloud provide is function when Velero doing backup with selector.

[2022-03-09 07:42] lintongj commented on #451
@danfengliu That's expected. As far as I know, the plugins for other cloud provides(AWS and Azure) takes snapshot at PV level not at PVC level. You can double check the behavior of velero-plugin-for-csi, which takes snapshot at PVC level as velero-plugin-for-vsphere does.

[2022-03-09 07:55] danfengliu opened #452 "Snapshot CR was not deleted after backup location deletion"
**Describe the bug**

Snapshot CR was not deleted after backup location deletion. In Velero 1.8, an [issue](https://github.com/vmware-tanzu/velero/issues/2082) was fixed, as this issue described, Snapshot CR should be deleted once the related backup storage location was deleted.

**To Reproduce**

1. Backup workload with PVs into some backup location which is named location1 in the example of  "ve

[2022-03-09 18:58] deepakkinni commented on #452
The Snapshot CR is uniquely a plugin concept, deleting the storage location will not delete the snapshot CRs. The Snapshot CRs are automatically deleted after 24h if the status is a success.

[2022-03-10 05:56] danfengliu commented on #451
The behavior of this issue is by design.

[2022-03-10 05:56] #451 closed

[2022-03-10 06:09] #452 closed

[2022-03-10 06:12] danfengliu commented on #452
@deepakkinni thanks for the clarification.

[2022-03-21 22:14] yuyin002 opened #457 "Outdated Guide for Installing Velero on Supervisor Cluster"
**Describe the bug**

[A clear and concise description of what the bug is]

The guide for installing Velero on Supervisor Cluster is outdated and no long applicable
https://github.com/vmware-tanzu/velero-plugin-for-vsphere/blob/main/docs/velero-vsphere-operator-user-manual.md#installing-velero-on-supervisor-cluster
It requires updates as soon as possible, since it is a blocker for customers' Super

[2022-03-22 02:15] xing-yang commented on #457
Before the doc is updated, please take a look of the attached doc:
[Enable Velero vSphere Operator.pdf](https://github.com/vmware-tanzu/velero-plugin-for-vsphere/files/8320369/Enable.Velero.vSphere.Operator.pdf)

[2022-03-31 22:05] myminseok opened #458 "velero vSphere Operator need to provide the registry credentials to velero-vsphere plugin by matching registry repo name only"
**Describe the bug**

on TKGs on airgapped env, followed installation procedure and especially [using private registry guide](https://github.com/vmware-tanzu/velero-plugin-for-vsphere/blob/main/docs/install-notes.md#install-notes-with-customized-images). we encountered errors in installing velero-vsphere plugin due to not getting access credentials to the private container repo from velero-operato

[2022-04-19 15:53] mymasse opened #462 "Impossible to install with the velero helm chart"
**Describe the bug**

Trying to deploy velero on our vanilla kubernetes cluster using the [velero helm chart](https://github.com/vmware-tanzu/helm-charts/tree/main/charts/velero) and it fails to start the backup-driver pod which in turn fails to start the velero pod.

**To Reproduce**

Deployed the following resources:
- AWS secret called `cloud-credentials` containing the `aws_access_key_id` and

[2022-04-27 09:52] ywk253100 opened #466 "Is it possible to remove the dependency for glibc inside the Velero image"
Velero uses the [gcr.io/distroless/base-debian11](https://github.com/GoogleContainerTools/distroless/blob/main/base/README.md) as the base image while the `base-debian` contains several CVEs introduced by `glibc` and some other packages.

Currently, only vSphere plugin needs the `glibc` inside the Velero image, so is it possible to remove the dependency for `glibc` inside Velero image so that Vele

[2022-04-28 20:45] lintongj commented on #466
The reason why vsphere plugin needs glibc is because the VDDK dependency requires it.

Ideally, velero-plugin-for-vsphere, init container running inside velero pod, should be able to get rid of glibc, as the consumption of VDDK has been offloaded to data-manager-for-plugin image.

But, before making it seamlessly working, we might need to make some changes in Makefile and Dockerfiles and verify it

[2022-05-09 02:52] xing-yang commented on #466
@xinyanw409 Can you take a look?

[2022-05-09 11:03] jhuisss opened #468 "velero-plugin-for-vsphere v1.3.1 is not working in tkgm CSI setup"
**Describe the bug**

In my tkgm CSI setup with kubernetes version v1.22.8+vmware.1, I can not install velero server with velero-plugin-for-vsphere image v1.3.1, backup-driver pod and datamgr-for-vsphere-plugin pod are in error status due to:
...
failed to retrieve velero-vsphere-plugin-config configuration, err: configmaps "velero-vsphere-plugin-config" not found.
...
An error occurred: secrets "

[2022-05-09 15:18] deepakkinni commented on #468
please follow instructions specified in https://github.com/vmware-tanzu/velero-plugin-for-vsphere/blob/main/docs/vanilla.md

[2022-05-12 17:16] mymasse opened #471 "Plugin doesn't respect AWS BackupStorageLocation insecureSkipTLSVerify flag"
**Describe the bug**

We use a private S3 storage appliance which doesn't have a valid TLS certificate. In our AWS we have set the `insecureSkipTLSVerify` config value to 'true'. However when the vSphere plugin attempts to upload snapshots to S3 if fails with `x509: certificate is not valid for any names, but wanted to match`. Looking at the `BackupRepository` and `BackupRespositoryClaim` CR we se

[2022-05-18 18:21] xing-yang opened #472 "add trivy vulnerability scanner github action"
**Describe the problem/challenge you have**

[A description of the current limitation/problem/challenge that you are experiencing.]
add trivy vulnerability scanner github action: https://github.com/kubernetes-csi/external-snapshotter/pull/708

**Describe the solution you'd like**

[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**

[Miscellaneou

[2022-06-10 16:12] xing-yang commented on #466
@ywk253100 Can you provide links to the CVEs?  We want to see what they are and the severity of them.

[2022-06-10 23:56] ywk253100 commented on #466
[Here](https://osspi.eng.vmware.com/audit-reports/all?limit=25&offset=0&search=velero-main&ordering=-recent_activity_time) is the scan result of velero main image

[2022-07-26 06:00] etiennegh opened #479 "GetVolumeID called with unstructuredPV"
Hi,

We're handling some tests on a Vanilla K8s distro (1.22.8), Velero 1.5.2 and the latest version of velero-plugin-for-vsphere in version 1.4.0. vSphere CSI version is 2.5.0 and we're only using block volumes.
The idea is to be able to snapshot a VMWare block PV through Velero towards a custom S3 endpoint.

We've got our backup storage location which is setup and working as expected (K8s resour

[2022-07-26 15:29] deepakkinni commented on #479
Please delete `vsl-vsphere`, I haven't tested `--storage-location default` either. Try the command `velero create backup manual-testns-backup-20220726-vsphere-1 --include-namespaces testns --snapshot-volumes`

If you still observe failures, upload the logs, the instructions to collect logs are at https://github.com/vmware-tanzu/velero-plugin-for-vsphere/blob/main/docs/troubleshooting.md#logs

[2022-07-27 15:28] etiennegh commented on #479
Hi,
Thanks a lot for your feedback.

I've deleted the VSL:
[code]

When trying a backup like so, it's again in `PartiallyFailed`:

`velero create backup manual-testns-backup-20220727-vsphere-1 --include-namespaces testns --snapshot-volumes`

When inspecting the backup logs:

[code]

There is this "cloud-credentials" secret missing error that we did not have previously.

In my case, my Velero pod i

[2022-07-27 16:54] deepakkinni commented on #479
[code]
Please recreate the secret with the name `cloud-credentials`, the plugin expects a specific name.

[2022-07-28 11:27] etiennegh commented on #479
Hi,

Thanks a lot for your reply.
The `cloud-credentials` secret has well been created (duplicate of the other one, with the same content) and we do not have the related error anymore.

The backup is now stuck in `InProgress`.
Here are the complete logs. It seems that the default VolumeSnaphotLocation is used:

[code]

Would you have an idea on this?
Thanks a lot.

[2022-07-28 16:58] deepakkinni commented on #479
You can/should delete the `volumesnapshotlocations` entirely, even the default one, this avoids unnecessary errors in the output. But that is not the issue here, the expected workflow is being followed, but I need more logs to figure out what's happening. Please collect logs as suggested in the previous comment.

[2022-07-29 08:06] etiennegh commented on #479
Hi @deepakkinni
Thanks for your reply and the hints. After having deep-dived this, it occurred my `deploy/backup-driver` and `ds/data-manager` resources were not healthy because of a service account and ClusterRoleBinding issue.
That's now solved and I've successfully been able to handle a backup using vSphere snapshots.

But there is now an issue when trying to restore this backup. The `clonefrom

[2022-07-29 17:05] deepakkinni commented on #479
[code]

Seems like your upload is failing, share data-manager logs. The failed upload will naturally result in failed restore. Check if the aws credentials you are using has sufficient permission.

[2022-08-01 07:40] etiennegh commented on #479
Hi @deepakkinni
Thanks a lot for your reply.

So I've deep-dived the data-manager layer and found this:

[code]

The concerned VCenter is using a self-signed certificate, so I guess this is the one that's causing trouble here, right?
For our CAPV setup (using Kubernetes Cluster API to provision directly on the VCenter), we're well defining a thumbprint during the setup. Would it be possible to ind

[2022-08-01 08:06] etiennegh commented on #479
I found many references to this point in other issues:

_There is network issue in your cluster. Please open port 902 on ESX hosts._

Do you confirm that all K8s worker nodes should be able to interact with the ESXi hosts on port TCP/902?
Could that be our issue here? Is this officially documented?
Thanks!

[2022-08-02 07:18] etiennegh commented on #479
Just an update.
We opened port TCP/902 from K8s worker nodes to ESXi servers.
We also checked the permissions from our VSphere service account, and it's got Admin role, so that seems all right.

The uploads that are queued are still failing with the same error:

[code]

If we check the uploads:

[code]

And if we get their status:

[code]

So what else could generate this error 14009?

Thanks a lo

[2022-08-02 16:08] deepakkinni commented on #479
Did you restart the data manager after opening the ports? Please collect and post vddk logs https://github.com/vmware-tanzu/velero-plugin-for-vsphere/blob/main/docs/troubleshooting.md#vddk.

[2022-08-11 05:18] etiennegh commented on #479
Hi @deepakkinni

I've properly handled a test from scratch after having deleted all the previous failed uploads / backups, etc.
All involved pods have been restarted (data-manager, backup-driver, velero)
It's still failing when trying to upload the clone snapshot.

Backup status:

[code]

Upload status:

[code]

In data-manager pod logs:

[code]

That's quite weird as the backup of all other objec

[2022-08-11 06:14] deepakkinni commented on #479
I'm also joining the VDDK log but this one seems now pretty ok.

What does this mean?, you were able to backup some pvc while others failed with the error you are seeing?

    to durable object storage. AccessDenied: Access Denied\n\tstatus code: 403, request
    id: 450aa376-0388-192d-8717-b8cef665cf30, host id: "
Clearly somethings wrong with the s3 credentials you have provided.
Could you post

[2022-08-11 06:45] etiennegh commented on #479
Hi,

I mean that deployment objects handled by Velero other than PVs are well pushed to S3 bucket (Velero is using another secret but with the same content than the `cloud-credentials` one).
On my bucket, here's the content of this morning's backup attempt:

[code]

The data-manager DS is mounting `cloud-credentials` secret which is well present and correctly set:

[code]
Its format is the followi

[2022-08-16 19:29] deepakkinni commented on #479
Is there a BackupStorageLocation configured?
It should look something like this:
[code]

I suspect it is not specified since i see the bucket is not recognized from the data-manager logs:
[code]

You can see that the log states "bucket=<S3_bucket>"
Please refer the docs https://velero.io/docs/v1.1.0/api-types/backupstoragelocation/ to get more info about BSL

[2022-08-17 14:00] etiennegh commented on #479
Hi @deepakkinni

Yes I've simply obfuscated the bucket name when sending the logs. The correct bucket name is well retrieved, I do confirm this.

Regarding the BSL, it's well set (and here as well I've obfuscated the various elements, but it's well defined):

[code]

Thanks a lot for your help!

[2022-08-17 19:40] deepakkinni commented on #479
At this point, I don't see why this would be happening apart from issues with the credentials.

[code]

Would it be possible to use the same secret? Is there any specific reason a different secret is being used?
You could also upgrade the plugin to v1.4.0 and use the latest velero v1.8.1, this was qualified recently from our end.

[2022-09-09 13:29] xing-yang opened #481 "Add velero-vsphere-operator version to compatibility matrix"
**Describe the bug**
We should add velero-vsphere-operator version to the matrix:
https://github.com/vmware-tanzu/velero-plugin-for-vsphere/blob/main/docs/supervisor.md#compatibility

**To Reproduce**

[Steps to reproduce the behavior]

**Expected behavior**

[A clear and concise description of what you expected to happen]

**Troubleshooting Information**

[Please refer to the [Troubleshooting](ht

[2022-09-13 11:50] etiennegh commented on #479
Hi @deepakkinni

Thanks for your answer.
I've come back to this issue and tried many things without any success :(

That's already the case in our tests.

That however may not be possible as we have to stick to the Velero's version shipped with our K8s distro.

I've checked the `cloud-credentials` secret and also tried it out without double quotes around the access key and its secret, but no luck:

[2022-09-15 05:46] etiennegh commented on #479
Hello,

An update after having performed many tests.
I finally tested with other S3 credentials related to the test bucket and it's actually working well.

Backup is correctly performed and snapshot data are well uploaded to the S3 bucket in `plugins/vsphere-astrolabe-repo/ivd/data/`
Restore is also working as expected and after ~5min, a 1GB PV is well restored without any issue.

 Just a question

[2022-09-15 06:19] deepakkinni commented on #479
That's great news! would you mind sharing what exactly the issue was? Was it related to some specific credential that didn't work?
The backup is based on the allocated space to the PV, it may have well been empty, it would still take the same time.

[2022-09-15 16:47] deepakkinni commented on #479
The issue has been resolved, @etiennegh was able to back up and restore.

[2022-09-15 16:47] #479 closed

[2022-09-20 03:18] wanghuok opened #483 "[doc issue] volume snapshot upload will retry when it is in UploadFailed status, this should be pointed out in the documentation"
**Describe the bug**

[A clear and concise description of what the bug is]
During volume snapshot uploading, I found a time snapshot CR phase is "UploadFailed",
but finally, the snapshot CR phase is "Uploaded", So I'm confused about this state, i guess it will retry when upload failed,
If this is the case it should be clearly stated in the doc.
As a comparison, the documentation clearly states tha

[2022-09-20 18:29] xing-yang opened #484 "Add a doc for CSI migrated volumes"
**Describe the bug**

- We should add a doc to describe how to backup CSI migrated volumes.
-  Also in the next release, we should remove the feature state so that CSI migrated volumes are supported by default.

**To Reproduce**

[Steps to reproduce the behavior]

**Expected behavior**

[A clear and concise description of what you expected to happen]

**Troubleshooting Information**

[Please refer

[2022-10-03 04:23] MayankRathore4 commented on #69
I am facing a similar issue with "replicated.com/hostpath" plugin. The error log is there while taking the backup snapshots of PVs only. Any help around this is appreciated.

[2022-10-11 10:15] jhuisss commented on #428
I also hit the issue, and here is the logs you asked:
error msg from data-manager pod logs:
time="2022-10-11T09:58:39Z" level=info msg="vCenter connected, proceeding with operation" logSource="/go/src/github.com/vmware-tanzu/velero-plugin-for-vsphere/pkg/ivd/ivd_protected_entity_type_manager.go:309"
2022-10-11T09:58:39.230Z warning -[00025] [Originator@6876 sub=Default] Closing Response processing

[2022-10-12 02:00] xing-yang opened #485 "Update doc and code regarding restic"
**Describe the bug**
In the upcoming Velero v1.10 along with the introduction to support kopia, some of the CLI parameters, resources are renamed:
Design doc: https://github.com/vmware-tanzu/velero/blob/main/design/unified-repo-and-kopia-integration/unified-repo-and-kopia-integration.md

More details in the code change:
https://github.com/vmware-tanzu/velero/pull/5370
https://github.com/vmware-tan

[2022-10-12 12:45] xing-yang commented on #471
To support this, we need to handle the insecureSkipTLSVerify flag in the plugin code: https://github.com/vmware-tanzu/velero-plugin-for-vsphere/blob/v1.4.0/pkg/utils/utils.go#L345.

[2022-10-17 10:24] yanji09 commented on #466
Hi, are there any progress on this ticket?

[2022-10-17 17:52] xing-yang commented on #485
There are additional changes needed in vSphere plugin code. These changes are not Must Have, but they make plugin code consistent with the new Velero code:
- Replace the call of restic.GetPodVolumesUsingRestic with podvolume.GetVolumesByPod. If this is not changed in plugin code, plugin has to refer to the old Velero code all the time, because in Velero 1.10, the function restic.GetPodVolumesUsing

[2022-10-20 08:19] etiennegh opened #487 "SSE-C encryption support for snapshots stored on S3 bucket"
**Describe the bug**

When defining encryption settings in the S3 AWS backupStorageLocation, it seems that the Velero VSphere Plugin is not using those to encrypt the snapshots when uploading them to the S3 target.

It's important to notice that traditional items directly backuped by Velero (applications yamls, etc.) are well encrypted into the bucket.

**To Reproduce**

Velero backup storage loca

[2022-10-28 07:50] jhuisss opened #488 "velero restore create stuck in status "InProgress" when restore pv and pvc only"
**Describe the bug**

"velero restore create" cmd is not working when using flag “--include-resources pv,pvc”, it stucked in status “InProgress”

**To Reproduce**

First I succeeded to create a backup of the whole workload cluster with pv, see:
# kubectl get pv
NAME                                       CAPACITY   ACCESS MODES   RECLAIM POLICY   STATUS   CLAIM                      STORAGECLASS   R

[2022-11-02 09:39] jhuisss opened #489 "velero restore create failed to restore pv only"
**Describe the bug**

I installed velero 1.9.2 and use velero-plugin-for-vsphere to handle pv backup and restore. But velero restore create failed to restore pv only.

**To Reproduce**
[Steps to reproduce the behavior]
[code]
`# velero backup create backup-pv-2 --include-resources pv`
[code]
[code]
Here the msg "Persistent volume is not a supported volume type for snapshots, skipping." is pretty w

[2022-11-02 12:08] jhuisss commented on #488
[bundle-2022-11-02-11-54-06.tar.gz](https://github.com/vmware-tanzu/velero-plugin-for-vsphere/files/9920158/bundle-2022-11-02-11-54-06.tar.gz)
Hi I have attached the whole log file, with cmd "velero debug --restore test-pv-pvc-20221102114058"

[2022-11-02 12:25] jhuisss commented on #489
[bundle-2022-11-02-12-18-49.tar.gz](https://github.com/vmware-tanzu/velero-plugin-for-vsphere/files/9920282/bundle-2022-11-02-12-18-49.tar.gz)
[bundle-2022-11-02-12-19-05.tar.gz](https://github.com/vmware-tanzu/velero-plugin-for-vsphere/files/9920283/bundle-2022-11-02-12-19-05.tar.gz)
The velero debug --backup/restore logbundle are attached, thanks.

[2022-11-02 14:58] xing-yang commented on #488
What is the "velero backup" command you used?  After backup is complete, did you check the status of "Snapshot" and "Upload"?
https://github.com/vmware-tanzu/velero-plugin-for-vsphere/blob/main/docs/vanilla.md#backup-vsphere-cns-block-volumes

[2022-11-02 16:04] jhuisss commented on #488
I used cmd "$ velero backup create whole-wc" to backup the whole workload cluster.
[code]
[code]
[code]
[code]
The snapshot CR phase is "uploaded" as above.
[code]
[code]
The upload CR phase is "completed" as above.

[2022-11-02 16:16] jhuisss commented on #488
continue the backup "whole-wc" above, I forcely delete the pvc and pv, and try to restore the pvc and pv from the backup:
[code]
$ velero restore create --from-backup whole-wc --include-resources pv,pvc --existing-resource-policy update
Restore request "whole-wc-20221102161036" submitted successfully.
Run `velero restore describe whole-wc-20221102161036` or `velero restore logs whole-wc-2022110216

[2022-11-02 16:24] jhuisss commented on #488
velero debug --backup whole-wc:
[bundle-2022-11-02-16-17-46.tar.gz](https://github.com/vmware-tanzu/velero-plugin-for-vsphere/files/9922332/bundle-2022-11-02-16-17-46.tar.gz)
velero debug --restore whole-wc-20221102161036:
[bundle-2022-11-02-16-18-13.tar.gz](https://github.com/vmware-tanzu/velero-plugin-for-vsphere/files/9922340/bundle-2022-11-02-16-18-13.tar.gz)

The log bundle is all attached, t

[2022-11-03 16:18] deepakkinni commented on #488
This is most likely a vddk issue, please ensure you retrieve the vddk logs: https://github.com/vmware-tanzu/velero-plugin-for-vsphere/blob/main/docs/troubleshooting.md#vddk

[2022-11-04 08:08] jhuisss commented on #488
I try to follow the doc you provided, but:
[code]
[code]
It is not easy for me to collect the log, could you please suggest a better way or could you please reproduce the issue? Thanks

[2022-11-04 14:05] xing-yang commented on #488
Can you show more details from velero backup so we can see what resources get backed up?  We do not recommend backing up the entire cluster as we can't guarantee custom resources can be restored.  We recommend backup by namespaces or by label selector.

Regarding the following restore command:

Can you delete the resources and try to do a restore without the include "pv, pvc" and "update" policy a

[2022-11-04 14:42] jhuisss commented on #488
Finally I got the logfile:
[vixDiskLib-1.log](https://github.com/vmware-tanzu/velero-plugin-for-vsphere/files/9939334/vixDiskLib-1.log)

This time I create backup with only "pv,pvc":
[code]
and then delete pvc and pvc, try restore them:
[code]
[code]

[2022-11-04 15:06] xing-yang commented on #488
Can you try only include "pvc" but not "pv" when you do the backup? This is because pv will be freshly created at restore time. If Velero tries to restore it on top the newly created pv, it could cause problems.

velero backup create backup-pv-pvc2 --include-resources pvc

[2022-11-04 15:23] jhuisss commented on #488
yes, here is the result:
[code]
[code]
Here is the new vddk log:
[new-vixDiskLib-1.log](https://github.com/vmware-tanzu/velero-plugin-for-vsphere/files/9939676/new-vixDiskLib-1.log)

velero debug --backup backup-pv-pvc2:
[bundle-2022-11-04-15-17-31.tar.gz](https://github.com/vmware-tanzu/velero-plugin-for-vsphere/files/9939720/bundle-2022-11-04-15-17-31.tar.gz)

velero debug --restore backup-pv-pv

[2022-11-05 13:41] xing-yang commented on #488
I see the following in the logs:

vixDiskLib logs:
[code]

DataMover logs:
[code]

There are frequent "Enable VMotion" and "Disable VMotion" messages in the DataMover logs. What other operation was going on that triggered this?  I think that is why we saw "Open virtual disk file failed" errors.

[2022-11-06 18:33] deepakkinni commented on #488
Hi @jhuisss ,
We'd like to raise the issue with the vddk team, could you please collect vCenter log bundle and ESXi log bundles?

[2022-11-08 09:16] Lyndon-Li opened #490 "Integration with Velero v1.10"
Velero v1.10 has some major refactors, some of which may impact vSphere plugin functionalities.
Some possible changes for vSphere plugin are identified in [this Velero issue](https://github.com/vmware-tanzu/velero/issues/5274) .

Please do an integration test with Velero v1.10 and address the necessary changes.

[2022-11-08 14:03] xing-yang commented on #490
This is a dupe of https://github.com/vmware-tanzu/velero-plugin-for-vsphere/issues/485

[2022-11-09 00:32] Lyndon-Li commented on #490
Close this one because of duplication, let's use #485 to track the entire integration of vSphere plugin with Velero 1.10.

[2022-11-09 00:32] #490 closed

[2022-11-16 01:07] ywk253100 commented on #466
@xinyanw409 I saw a new PR is submitted, but seems it contains no change for removing the VDDK dependency from vsphere-plugin itself, please see my [comment](https://github.com/vmware-tanzu/velero-plugin-for-vsphere/pull/477#issuecomment-1311461866) cc @xing-yang

[2022-11-16 01:20] xinyanw409 commented on #466
For 1.4.1 we have changed our dockerfile to use photon-4.0 with which reduces the vulnerability. For the pending PR we're going to split our datamgr into two parts so eventually the velero plugin and backup-driver can get rid of the vddk. I'm scan and evaluate the current plugin image first to see if there's any high CVE issues. If yes we'll consider using a separate go.mod for datamgr, thanks.

[2022-11-16 02:03] xing-yang commented on #466
@ywk253100 As Xinyan said, we'll move datamgr into a separate go module if her current PR does not resolve the CVEs.

[2022-11-16 02:49] xing-yang commented on #466
So we need to test backup/restore after making this change. @ywk253100 What Velero image can we test with?  You don't have a Velero image that does not use base-debian yet, right?

[2022-11-16 07:42] ywk253100 commented on #466
@xing-yang @xinyanw409 You can use `redenval/velero:v1.9.3-distroless-static` to do the test

[2022-11-30 21:51] cbodonnell commented on #69
@MayankRathore4 you may need to pass the `--use-volume-snapshots=false` parameter to the `velero install` command.  The "replicated.com/hostpath" plugin is not registered as a volume snapshotter, but only as an object store.